[2016-02-24 15:07] romanblanco opened #13 "Broken list sorting"
I was trying to sort items in list alphabetically and noticed that sorting is not switchnig between two states (A-Z, Z-A), but sometimes in 3, sometimes in 4 different states.

___

**Screenshots** from one screen after repeated switching of sorting:

![screencapture-localhost-3001-self_service-marketplace-1456326228904](https://cloud.githubusercontent.com/assets/1187051/13289473/7af2e192-db10-11e

[2016-02-25 07:27] eclarizio opened #14 "Required fields not honored when ordering a service"
Go to the service catalog, choose a service to order that has a dialog attached to it with required fields. Ensure the required field(s) are not filled out, and observe that the service is still submitted "successfully".

[2016-03-10 17:03] himdel opened #24 "Modals not closing on state transition"
Opening a modal and waiting for the authentication token to expire eventually leads to a login screen with the modal still on top of that.

I want to patch `$modal` to be aware of `ui-router` state transitions and just cancel whenever one happens.

@miq-bot assign himdel

[2016-03-10 17:03] himdel commented on #24
@romanblanco I created the issue, can you add the screenshot please?

[2016-03-11 08:53] romanblanco commented on #24
Screenshot:

![screencapture-localhost-3001-self_service-login-1457509214322](https://cloud.githubusercontent.com/assets/1187051/13697642/12669fa4-e76f-11e5-8168-cc88bdba5444.png)

[2016-03-22 18:13] romanblanco opened #28 "Browsersync is not respecting other ports"
Noticed a strange thing when I was running two different forks of ManageIQ SSUI:

Forks were in separated folders, running in different ports and in different browser, but I was always able to view only the one running on default port `3001`.

Problem is probably caused by Browsersync, that keeps connecting to the same port
_(probably somewhere here:  [gulp/tasks/serve.js](https://github.com/Manag

[2016-03-22 18:39] romanblanco commented on #28
@miq-bot assign himdel

[2016-04-07 14:01] skateman opened #36 "Missing icon when VM is turned on"
![screenshot from 2016-04-07 16-00-03](https://cloud.githubusercontent.com/assets/649130/14353567/e57ea1fa-fcd9-11e5-96bd-9e5ddb1860ed.png)

[2016-04-22 06:18] skateman commented on #36
@miq-bot assign @himdel

[2016-04-29 21:34] #36 closed

[2016-05-18 12:28] himdel opened #53 "Including external polyfills directly instead of via a dependency"
`client/test-helpers/bind-polyfill.js` - can almost certainly be just removed (we are already using `phantomjs-polyfill`)

`client/test-helpers/promise-polyfill.js` - needs to be replaced, should probably use `es6-shim`, as in ManageIQ.

@miq-bot assign himdel

[2016-05-26 00:50] mtho11 opened #59 "Address npm dependency issues found in darga branch"
<p>bitHound discovered:</p> <ul> <li>4 packages with at least one security vulnerability.</li> <li>5 deprecated packages.</li> <li>31 outdated packages.</li> </ul> <p>For details go to <a href="https://www.bithound.io/github/ManageIQ/manageiq-ui-self_service/darga/dependencies/npm">bitHound</a>.</p>
***
These insecure Dev packages found by Bithound might need to be updated for a product release. A

[2016-06-03 16:04] himdel opened #61 ""The page you were looking for doesn't exist" while trying to open a console (on the appliance)"
The url `/bower_components/spice-html5-bower/spiceHTML5/spice_auto.html` doesn't exist, because the file (and its novnc counterpart) are not being copied over to `manageiq/public/self_service` as part of `gulp build`.

@miq-bot assign himdel

[2016-06-15 17:08] himdel commented on #61
Also, the same goes for translations .. `/self_service/gettext/json/en/manageiq-ui-self_service.json` Failed to load resource: the server responded with a status of 404 (Not Found)

[2016-06-15 17:38] himdel commented on #61
..and possibly some components.. http://localhost:3000/components/font-awesome/fonts/fontawesome-webfont.ttf?v=4.3.0

[2016-06-15 18:53] himdel commented on #61
Checklist..

   * [ ] fix gettextCopy
   * [ ] add consoleCopy
   * [ ] redirect /self_service/** to /** on the dev server
   * [ ] use /self_service/** for the consoles

[2016-06-16 18:17] #61 closed

[2016-06-27 01:20] vanloswang commented on #59
The same issue for me to deploy darga branch with following error:
<pre><code>
# npm install
npm WARN package.json gulp-minify-css@1.2.4 No repository field.
npm WARN package.json gulp-minify-html@1.0.6 No repository field.
npm WARN cannot run in wd manageiq-ui-self_service@0.0.1 bower install -F (wd=/root/ws/miq/manageiq-ui-self_service)
npm WARN cannot run in wd manageiq-ui-self_service@0.0.1 gu

[2016-06-27 09:20] himdel commented on #59
@vanloswang that's definitely not the same issue.. the issue you're having is caused by an old version of `npm` .. do `sudo npm install -g npm` to get a new version of npm and then `npm install` should work..

[2016-06-28 08:56] himdel commented on #59
Taking this one, since I'm planning to upgrade `patternfy`, `angular-patternfly` and `angular-bootstrap` anyway...

But, @mtho11 note that we're not actually running any node code in production, it's just for devel setups and tooling..

[2016-06-28 14:10] mtho11 commented on #59
@himdel np, just wanted to point it out.

[2016-06-28 14:23] himdel commented on #59
Sure, better to know about this :) just wanted to make clear that these aren't really security issues..

[2016-06-28 14:26] mtho11 commented on #59
@himdel I guess the only concern is that downstream developers using the product 6 months from now will most likely not be able to build because of dependency issues. Unless there is an npm shrinkwrap that I missed.

[2016-06-28 14:30] himdel commented on #59
There's a small one catching only one problem.. but you're right, we definitely need to keep this up to date..

[2016-06-30 11:13] himdel commented on #59
Related so adding here...

[code]

[2016-07-14 19:11] romanblanco opened #81 "Move resources loading from index.html"
The [client/index.html](https://github.com/ManageIQ/manageiq-ui-self_service/blob/master/client/index.html) file includes every JS file and every package we use in SSUI, and everytime some adds a new JS file or package, it quite often causes conflicts in others PR that are also doing some adding of new resources.

It would be nice to have loading of these resources separated from the `index.html`

[2016-07-15 08:08] himdel commented on #81
I think the solution should be to remove the `<link>` and `<script>` tags placed between the `` markers from `client/index.html` so that it's always pristine, and make `serve-dev` save the injected & wiredepped file to a different place and serve it from there..

[2016-07-19 10:51] himdel opened #85 "ECMDERR Failed to execute "gulp wiredep""
Running `gulp wiredep` (or tasks which use it), causes

[code]

Related eslint issue: https://github.com/eslint/eslint/issues/6607.

This is caused by `strip-bom` starting to use ES6 arrow functions, supported only in node 4+ (4 is a but uncertain..).

[2016-07-19 11:01] himdel commented on #85
We can either force the package to the older version, or upgrade node.. for darga, the first option is probably the right one..

[2016-07-19 11:24] himdel commented on #85
The chain is a bit longer..

we have `plato ^1.4.0` which started resolving to `plato 1.6.0`, which brought in `eslint 3.*`, which depends on `strip-bom 3.0.0`. Plato is a "JavaScript source analysis and visualizer" meaning it's not even strictly necessary to have it in the code, but the minimal fix is:

[code]

[2016-07-19 14:09] #85 closed

[2016-07-21 12:28] bazulay opened #90 "Docker build still fails on Darga"
The error I'm getting is the same error as reported on issue #85 , which was closed after the merge of #86.

bower                                 ECMDERR Failed to execute "gulp wiredep", exit code of #8  /opt/manageiq/manageiq-ui-self_service/node_modules/eslint/node_modules/strip-bom/index.js:2 module.exports = x => {                     ^ SyntaxError: Unexpected token >     at Module._compile

[2016-07-21 12:29] bazulay commented on #90
@Fryguy @himdel

please advise.

[2016-07-21 12:34] himdel commented on #90
@bazulay if it says `^` and not `~`, the fix is *not* in ;)

[2016-07-21 13:35] bazulay commented on #90
@Fryguy @himdel

getting old ;-)

found the reason for this failure ,
one must delete old images built from darga (before the fix), if we don't it uses the cached later in docker (that contains the SSUI without the fix)

[2016-07-21 13:35] #90 closed

[2016-08-11 21:14] evenit opened #100 "Children services are not displayed in "My services""
Description of problem:
I have nested services: a parent service has children services. Only the top level services are visible in "My Services". When connected to the classic UI, the children services are correctly displayed. Nested services is really useful to create a service hierarchy and allow large scale retirement.

Version-Release number of selected component (if applicable): commit #8665a

[2016-08-29 19:44] evenit opened #105 "Tag Control fields not working in SSUI"
When creating service dialogs with tag control fields, they do not display in the SSUI when ordering the service. Instead the field is blank. In the screenshots, the "Test" field is a tag control. The first one shows the classic UI, the second shows the SSUI.

![manageiq_classicui_tag_control](https://cloud.githubusercontent.com/assets/1653236/18065131/d7582658-6e32-11e6-90b5-89b36b021f5b.png)

![

[2016-08-30 08:56] #53 closed

[2016-09-01 17:47] AllenBW opened #109 "Missing Translations"
<img width="1282" alt="screen shot 2016-09-01 at 12 31 15 pm" src="https://cloud.githubusercontent.com/assets/6640236/18176998/1e922504-7046-11e6-9f38-c5e7d2245c7a.png">

**My Orders** tab, as you can see is not translated when it should be.  Element has `translate` tab, its just the phrase is absent from the `/client/gettext` folder

Another offender is  **Switch Language:**, again tagged correct

[2016-09-02 11:40] mzazrivec commented on #109
The screenshots above just show the fact that not all strings which are translatable
are translated yet. This is simply a matter of translating the missing string in Zanata
and if you wish to contribute, you are welcome to do so at

https://translate.zanata.org/iteration/view/manageiq-ui-self_service/master?dswid=-1016

The last screenshot shows a Patternfly component (outside of our control), whi

[2016-09-02 11:40] #109 closed

[2016-09-02 12:35] AllenBW opened #110 "Navbar-right causing unexpected behavior"
When browser viewport dips below a width of 768px navbar-collaps kicks in and buries user controls and cart (see below)
<img width="755" alt="screen shot 2016-09-02 at 8 24 53 am" src="https://cloud.githubusercontent.com/assets/6640236/18203854/8487b2ce-70e7-11e6-9fbb-9a41dd34242f.png">

I am unaware of what the SSUI posture on mobile is, if we want to support smaller than the above mentioned widt

[2016-09-06 17:20] Fryguy opened #115 "How to skin the application is not clear"
Previously, if someone dropped files into the skin directory, those files would be used for images and text.  Now, I believe the place is assets (even though I search the code and I still see skin)?  I'm a little confused what is the right way to skin the application.

So this is a request for some documentation in the README on how to skin the application, and perhaps a set of tests that validate

[2016-09-06 17:21] Fryguy commented on #115
cc @martinpovolny @dclarizio @epwinchell

[2016-09-06 17:30] epwinchell commented on #115
cc @himdel

[2016-09-06 19:26] himdel commented on #115
OK, so, the skinning still works :)

Except that the devel-mode server serves images from `client/images` and not from `.tmp/images` where the build process puts them :). Still an issue, but doing `gulp build` and loading `localhost:3000/self_service` via Rails does give you the right image..

[2016-09-09 13:34] AllenBW opened #121 "Migrate from jshint to eslint"
This single issue will encompass all work included in the migration.
Reasons for this change:

1. JSHint team has joined with ESLint
2. Customizability
3. Plugin support (principally https://github.com/Gillespie59/eslint-plugin-angular)
4. ENV support  (amd, jquery, es6)

The sum of tasks to be completed in the fulfillment of this issue (each task encompasses at least one pr, we're going to go slo

[2016-09-09 15:40] chriskacerguis commented on #121
Assigned!

[2016-09-15 01:04] chriskacerguis commented on #24
@himdel is this still an issue?

[2016-09-15 01:05] chriskacerguis commented on #13
@serenamarie125 can we get someone to look at this?

[2016-09-15 01:08] chriskacerguis commented on #14
@chalettu - can you take a look at this one?

[2016-09-15 01:08] chriskacerguis commented on #28
@himdel can you please take a look here?

[2016-09-15 01:09] chriskacerguis commented on #81
@chalettu - Can you give this a fix?

[2016-09-15 01:11] chriskacerguis commented on #100
@serenamarie125 Can you please have someone take a look?  Let me know who can I can assign this to them

[2016-09-15 01:13] chriskacerguis commented on #115
@himdel Can you please create the docs for this?

[2016-09-15 10:45] himdel commented on #24
Yup it is. Transition caused by background requests failing with 404 will currently not close any open modal, nor can they really.

I'll be touching that code as part of the server error dialog (SSUI version of https://github.com/ManageIQ/manageiq/pull/10984), so planning to address that at that point by redirecting to the login screen instead of changing state to it.

[2016-09-15 13:49] chriskacerguis commented on #59
@AllenBW didn't you fix this?

[2016-09-15 14:10] AllenBW commented on #59
@chriskacerguis haven't updated package.json yet

[2016-09-15 15:32] himdel commented on #59
@AllenBW if you do, feel free to use whatever you can from #72 . But [careful](https://github.com/ManageIQ/manageiq-ui-self_service/pull/72#issuecomment-229726045), upgrading wiredep from 2 to 3 will break the order of external deps in index.html and we really need jquery to go first..

[2016-09-15 21:30] chriskacerguis opened #140 "Identify and Clean up build tasks"
We need to identify and clean up build tasks for this app (minifying, etc).

Each task should be documented

[2016-09-15 21:31] chriskacerguis commented on #110
@AllenBW Not sure we are pushing "mobile" right now.  @serenamarie125 any comments on that?

[2016-09-15 21:32] chriskacerguis commented on #59
@AllenBW yes, please add your mojo to this

[2016-09-15 21:32] chriskacerguis commented on #59
@AllenBW also, take a look here (as @himdel suggested)... https://github.com/ManageIQ/manageiq-ui-self_service/pull/72

[2016-09-15 21:35] chriskacerguis opened #141 "Switch to node-Sass / libsass"
I think it would be good to remove the dependency of ruby-sass and use node-sass?  @himdel @chalettu @AllenBW thoughts on this?

[2016-09-15 21:41] himdel commented on #141
I love the idea, that `bundle install` run by `npm` has always been problematic .. and [node-sass](https://github.com/sass/node-sass) seems sufficiently alive :). It does require node 6 however.. we've recently incremented the required version to 6, but the de-facto requirement has really been 4 so far, so.. not sure if before euwe..

[2016-09-15 22:32] chriskacerguis commented on #141
@himdel so, it looks like Travis is specifying node 6, and the docs say node 6.  Any thoughts?

[2016-09-16 01:21] serenamarie125 commented on #110
@chriskacerguis @AllenBW Although we are not pushing "mobile", we are trying to make sure that it is responsive.  I have had a few different customers show me CloudForms on a tablet, I can't imagine people are using it on a phone, but who knows :)

The controls above are a PatternFly pattern.  If we are using PatternFly correctly (and we better be in the Service UI or @jeff-phillips-18 will be hap

[2016-09-16 08:17] himdel commented on #141
Just one, node version on the appliance is 0.10.46 :) But, `gulp sass` is ran as part of `gulp build` but whether that is being done on the build host or on the built VM, I'm not sure..

[2016-09-16 11:04] chriskacerguis commented on #141
Ok.  I'll talk to the team about getting the appliance updated.  You good with that?

[2016-09-16 11:06] chriskacerguis opened #143 "Updates npm dependencies"
Need to Clean up & updates npm dependencies.  Work started on this here: https://github.com/ManageIQ/manageiq-ui-self_service/pull/72 but, it has gone stale.

[2016-09-16 11:15] himdel commented on #141
Sure, thanks! :)

[2016-09-16 11:16] chriskacerguis commented on #59
@AllenBW This might be a dup of https://github.com/ManageIQ/manageiq-ui-self_service/issues/143

[2016-09-16 12:03] chriskacerguis commented on #141
@AparnaKarve @AllenBW any thoughts / objections to going to Node 6 on the appliance?

[2016-09-16 12:14] jeff-phillips-18 commented on #110
The missing controls on the navbar have been brought up in Patternfly discussions. I do not believe  there has been any solutions yet.

I can see the toolbar issue is angular patternfly issue :(  I will look into it.

[2016-09-16 12:15] AllenBW commented on #141
nothing immediate! (reserving the right to eat my words when some super 🐛 rears its head)

[2016-09-16 12:23] chriskacerguis opened #144 "Resolve issues within Code Climate"
We should start working on cleaning up all the issues that CodeClimate has found

https://codeclimate.com/github/ManageIQ/manageiq-ui-self_service/issues

[2016-09-16 12:24] chriskacerguis opened #145 "Get Parity Match with Ops UI"
Get Parity Match with Ops UI for Service Item Creation and Provision/Action Order.  We need to get a list of what needs to be done.  Assigning to @serenamarie125 for that analysis.

[2016-09-16 12:26] chriskacerguis opened #146 "Move Self Service UI to Node Application"
We need to move the Self Service UI to a dedicated Node application, instead of loading it within MIQ for the "F release".

[2016-09-16 12:26] chriskacerguis commented on #146
@himdel @AllenBW @chalettu opinions and/or thoughts?

[2016-09-16 12:27] himdel commented on #146
4.3 = euwe or euwe+1?

[2016-09-16 12:27] chriskacerguis opened #147 "Rename "Self Service UI" to just "Service UI""
As the role of the SSUI has expanded, we need to rename the Self Service UI to the "Service UI"

[2016-09-16 12:28] chriskacerguis commented on #146
4.3 is May release (F release?)

[2016-09-16 12:30] chriskacerguis commented on #110
@jeff-phillips-18 so, based on your comment this seems to be a patternfly issue, not the SUI?

[2016-09-16 12:30] himdel commented on #146
Ah, thanks .. then it's probably doable :sweat: :)

Will that application be running on a different appliance, or on the same one, except served by apache redirecting to node instead of apache?

And.. what's the point? I mean, SSUI is some static files and the manageiq api, do we really want that extra complexity on the appliance? I'm not seeing any reason why we should do that..

[2016-09-16 12:34] chriskacerguis commented on #146
It will run based on how the end-user sets up things...so during the install they can say what it is, and MIQ will set things up.

As for point, as we expand things, here are the more "larger" thoughts:

1.  It more fully separates UI / API, I feel that it's "clunky" to load it the way we are.
2.  It will allow us to do things the "node way" more easily.

I feel that this will more simplify the lo

[2016-09-16 12:44] himdel commented on #146
Well, right now, the build process is "compile everything to that directory", and the [appliance config](https://github.com/ManageIQ/manageiq/blob/master/gems/pending/util/miq_apache/miq_apache.rb#L209) related to ssui is "serve /self_service from that directory". That's it.

Now, we'll need to actually run the node process, that means manually setting up either a systemd service, or installing su

[2016-09-16 13:01] jeff-phillips-18 commented on #110
@chriskacerguis Correct

[2016-09-16 13:35] serenamarie125 commented on #110
... Angular PatternFly.  Jeff, want me to create an issue there or should
we stick it in our backlog?

On Friday, September 16, 2016, Jeffrey Phillips <notifications@github.com>
wrote:

--
- Serena Chechile Doyle
*UXD | Unified Management Experience*
*Red Hat*
*Cell* 508-769-7715 | *IRC* - serena | *Skype* - serenamarie125 | *Twitter* -
@serenamarie125

[2016-09-16 13:43] jeff-phillips-18 commented on #110
Both probably make sense

[2016-09-16 13:45] AparnaKarve commented on #141
Node 6 works! No objections.

[2016-09-16 14:39] chriskacerguis commented on #141
/cc @dclarizio

[2016-09-16 21:23] chriskacerguis commented on #141
@himdel @AllenBW @AparnaKarve @chalettu so, it looks like Node v6 is not available for RHEL yet, but Node v4 is.  Any objections to updating everything to use Node 4 (vs. 6)?  I'll update the docs / tests Monday unless someone strongly disagrees.

[2016-09-16 21:33] AparnaKarve commented on #141
@chriskacerguis My local machine uses `node v5.6.0`, which means I (and probably most of us) would have to downgrade it.
Anyway, no objections per se, as long as everything works!

[2016-09-16 21:40] chriskacerguis commented on #141
@AparnaKarve yeah, I'm in the same boat.  I just think that it would make most sense for us to test and develop on the same Node version that would be on the appliance.

[2016-09-19 15:01] #143 closed

[2016-09-19 18:13] AllenBW commented on #59
Mostly a dupe, working it presently, there are 5 or so dependencies that have been depreciated.  Gonna figure if we need these and if so updating them. :metal:

[2016-09-19 18:38] #59 closed

[2016-09-19 20:01] chriskacerguis opened #154 "Clean up "F grade" issues in Code Climate"
Let's try to clean up the files that have an "F grade" (in CodeClimate):

https://codeclimate.com/github/ManageIQ/manageiq-ui-self_service/code?q=rating%3AF

- [x]  client/app/components/blueprint-details-modal/blueprint-details-modal-service.factory.js
- [x]  client/app/components/flowchart/flowchart_viewmodel.js
- [x]  client/app/config/navigation.config.js
- [x]  client/app/services/designer-st

[2016-09-19 20:21] Fryguy commented on #146
I am also question the gains from doing this.  I can see if we did something with the node server where the client talks with the server, but all we do with our applications right now is a single-page-app, which doesn't need a server (aside from the manageiq API).  Is the goal to get away from a SPA?

[2016-09-19 20:44] miq-bot opened #156 "Test ticket from Code Climate"

[2016-09-19 20:44] #156 closed

[2016-09-19 20:53] chessbyte commented on #146
@chriskacerguis I think you need to state the reasons for such a proposal.  Without concrete reasons, I am a definite 👎 on change for the sake of change.

[2016-09-19 22:10] chriskacerguis commented on #144
Duplicate of https://github.com/ManageIQ/manageiq-ui-self_service/issues/154

[2016-09-19 22:10] #144 closed

[2016-09-19 22:17] chalettu commented on #146
So there are some advantages of separating out the UI into its own running process.  By running as its own process, it allows you to separate basic http traffic from the backend Ruby API process itself.  This can be useful if traffic can get pretty heavy on one or both of those processes.  I think some of the advantages are that it would bring unity to our current development workflow because in o

[2016-09-19 22:18] chessbyte commented on #146
@chalettu btw - really, really like your avatar!

[2016-09-19 22:26] chriskacerguis commented on #146
So, my thoughts are as follows:

1. Easy of debugging / development; we can use the node debugging, and (as Chris Hale) we can isolate the traffic easier.

2. As we have move forward with more UI's and advanced UI's we can load them easier than we would with the current process.  For example, during the build, making sure that we don't "clobber" other "UI's" (without this we will need some way to

[2016-09-19 22:47] chalettu commented on #146
Oh, another advantage to splitting these two components apart is it would allow for two potentially different release schedules and break apart coupling the UI from the backend.  This is useful for quick bug fixes, patches, etc.  I know we currently have everything on a regimented release schedule but it does allow from some flexibility and looser coupling with the backend components release cycle

[2016-09-20 12:20] himdel commented on #141
@chriskacerguis please note that node4 means no node-sass .. or only an older version

[2016-09-20 12:36] chriskacerguis commented on #141
Yup.  We can run Node 6, it's just the question of the "running AS a Node app" (see https://github.com/ManageIQ/manageiq-ui-self_service/issues/146)

[2016-09-20 12:42] himdel commented on #141
Ah, thanks, had not finished reading that one before.. well, if we'll be running node6 on the build machine, then v4 is good enough on the appliance for now :)

[2016-09-20 12:43] himdel commented on #146
Just a note.. we're *already* doing that in development, so this benefit seems rather ..empty :).

[2016-09-20 12:49] chriskacerguis commented on #146
Dubugging also applies to production.

[2016-09-20 13:04] AllenBW commented on #146
Gonna confess a wee bitta room for learning on my behalf, so everything I say that's incorrect treat as a question rather than an assertion 😛 😝

**Present state** For the SUI, shove processed assets into a folder and serve the entry point. Appears to be the same for MIQ.

**Desired state** I have no idea where we want to be.  Is decoupled api/ui desired? Totally gotta grasp on next few months visi

[2016-09-20 13:46] himdel commented on #146
That common pool should be patternfly, angular-patternfly, and ManageIQ/ui-components ;) (yup, we're not using ui-components in the SSUI yet, but so far we had no reason to..)

[2016-09-20 14:00] himdel commented on #146
Another thing just came up on gitter... `pictures/`

If we ever start having SSUI run separately from the main UI, we'll need to solve how to show `pictures/` .. that is, user-uploaded icons.

Right now, the only way these work is that SSUI runs on the same domain as manageiq and generates an url that is served by the rails app (`/pictures/10r4.jpg` for example). These never work in devel mode and

[2016-09-20 15:10] chriskacerguis commented on #146
@himdel something we will need to address for sure.  I suspect there will be a few things like this that we will need to address if we go down this path.

[2016-09-21 16:30] himdel opened #167 "Don't rely on /pictures, use image_href from the API"
Right now, for `pictures`, SSUI just assumes that `/pictures/*` will work.

We should instead use the API to get the right url .. `/api/pictures/10000000000010?attributes=image_href` returns an `image_href` which is a full path to that image.

[2016-09-21 17:28] dtaylor113 commented on #167
Right, currently items on a blueprint's canvas gets their pictures from an API query of service_templates, using the picture.image_href property:

[code]

[2016-09-26 17:59] #121 closed

[2016-09-27 00:49] chriskacerguis commented on #81
@AllenBW can you please take a look here.

[2016-09-27 00:50] chriskacerguis commented on #13
@AllenBW here too.

[2016-09-27 00:52] chriskacerguis commented on #100
@jeff-phillips-18 can you please take a look at this issue?

/cc @serenamarie125

[2016-09-27 00:54] chriskacerguis commented on #167
@himdel is @dtaylor113 answer sufficient, or do we need to dig deeper?

[2016-09-27 00:56] chriskacerguis commented on #110
At this is a PF issue, I'm going to close this bug.

[2016-09-27 00:56] #110 closed

[2016-09-27 00:59] chriskacerguis commented on #105
@dtaylor113 can you please take a look here?

/cc @serenamarie125

[2016-09-27 10:41] himdel commented on #167
OK, closing, not sure what has changed, but it seems we **are** now getting the full url in `picture.image_href`, and there are no leftover places where we'd hardcode `/pictures/`.

The URL returned by the API will probably change once the API starts supporting actually serving those images, but that shouldn't affect us..

[2016-09-27 10:41] #167 closed

[2016-09-27 11:24] chriskacerguis commented on #14
@AllenBW here you go!

[2016-09-27 11:28] himdel commented on #115
BTW @chriskacerguis , when I do the docs, I was thinking, maybe it'd be useful for SUI to actually contain a sample theme directory, and maybe even a test that tries to use the theme and validates it applied (although not sure such a test can be done within the realm of our testing framework (all that linking the theme in..), so not promising anything :) ).

What do you think? Would a sample theme

[2016-09-27 11:30] chriskacerguis commented on #115
@himdel I think that is an AWESOME idea.  I agree with the testing part, however @chalettu is working on setting up some better testing (https://saucelabs.com) so maybe after you get a sample theme, you could work with him with the testing ideas.

[2016-09-27 11:33] himdel commented on #115
Hehe, thanks :bow: :) Allright, will do :)

[2016-09-27 11:53] chriskacerguis opened #193 "Evaluate saucelabs.com for UI testing"
@chalettu has suggested using https://saucelabs.com for UI testing during the Travis build process (or around that time).  I would love to get everyones thoughts on this.

@AllenBW @himdel @dajohnso @AparnaKarve @martinpovolny thoughts on this?

/cc @dclarizio @Fryguy @chessbyte

[2016-09-27 11:59] jeff-phillips-18 commented on #100
@chriskacerguis @serenamarie125  Looks like the request is to modify the services section to show a tree view or an expanded view for the services. I believe we would want a UX design for this and a Dev story so that it can be properly prioritized.

[2016-09-27 12:19] chriskacerguis commented on #100
Sounds reasonable to me

[2016-09-27 12:48] AllenBW commented on #81
🏄

[2016-09-27 14:40] jeff-phillips-18 opened #194 "Unable to open the notifications drawer or view toast notifications"
Startup error ([ManageIQ] Cannot read property 'forEach' of undefined) occurs then no toast notifications are ever shown and the notifications drawer cannot be opened.

[2016-09-27 15:18] chriskacerguis commented on #194
fixed by https://github.com/ManageIQ/manageiq-ui-self_service/pull/196

[2016-09-27 15:18] #194 closed

[2016-09-29 13:36] AllenBW opened #198 "Update Production Build Process to rely soley on ejs"
`index.html` presently relies on wiredep for dependency injection when building for production.  This action should be assumed, as it is in dev, by ejs or in this case we would use [gulp-ejs](https://www.npmjs.com/package/gulp-ejs) but not before all other dependencies are updated (to ensure seamless functionality)

[2016-09-29 14:11] #81 closed

[2016-09-29 14:29] AllenBW commented on #198
@miq-bot add_label enhancement

[2016-09-29 16:42] AllenBW commented on #13
@romanblanco  I am unable to reproduce this issue,
@chriskacerguis looks like it might have been resolved since first being reported, unable to reproduce

[2016-09-29 17:24] dtaylor113 commented on #105
Hi, what are "tag control fields"?  Is this just a 'DialogFieldDropDownList', or does it have something to do with the tagging api?
I am able to see dialog drop down lists in Ops UI and SUI:

![image](https://cloud.githubusercontent.com/assets/12733153/18964581/80858f6e-8647-11e6-8942-497d8dc533ae.png)

![image](https://cloud.githubusercontent.com/assets/12733153/18964690/fdb7990a-8647-11e6-9c06-e

[2016-09-29 17:34] eclarizio commented on #14
Tested again for @AllenBW since this is pretty old. Works now, so closing.

[2016-09-29 17:34] #14 closed

[2016-09-29 19:19] chriskacerguis commented on #13
Cools.  Going to close this issue.  @romanblanco please feel free to re-open in you need to.

[2016-09-29 19:19] #13 closed

[2016-09-29 19:21] chriskacerguis commented on #198
@AllenBW can we close this since it is merged?

[2016-09-29 20:12] AllenBW commented on #198
@chriskacerguis nope. this is what i was whining about earlier, as soon as we up dependencies i'll switch production to build using ejs rather than wiredep (why wait you ask? because sifting through builds that have the right 💪 and 💃 with the version of node is kinda maddening)

[2016-09-30 08:52] evenit commented on #105
@dtaylor113 I don't know how it is implemented but it is a specific type of field proposed by CloudForms when creating a dialog. When you select this type of field, you then have to select the tag category you want to expose. My workaround is currently to use dynamic Dropdown List calling an instance /UI/DDL/TagControl_<tag_category>, itself calling a method with the following code:

[code]

This

[2016-09-30 13:26] himdel commented on #146
Another thing to check for after.. same origin policy for websocket connections (related: https://github.com/ManageIQ/manageiq/pull/11616)

(probably not a problem, just.. adding to the checklist)

[2016-09-30 14:11] himdel commented on #193
The site is so covered in marketing-speak that it doesn't actually say anything specific on how it works :) .. But judging from https://wiki.saucelabs.com/ it seems it's a simple selenium-in-the-cloud service and not much more...

So I wonder if we shouldn't be doing exactly the same thing as in the ops ui..  QE already has some selenium tests in https://github.com/ManageIQ/integration_tests and w

[2016-09-30 15:34] himdel opened #204 "CodeClimate issues that should not block PR merge"
CodeClimate sometimes reports duplicates that are valid, but that make little sense fixing in the PR they're reported in.

Example:
![](https://files.gitter.im/ManageIQ/manageiq-ui-self_service/L7K3/codeClimate.png)

Another example:
https://github.com/ManageIQ/manageiq-ui-self_service/issues/201 - current failures

Gitter discussion:
:point_up: [September 30, 2016 2:53 PM](https://gitter.im/Manag

[2016-09-30 15:35] chriskacerguis commented on #204
Wondering if we can just change the threshold, to make it less sensitive

https://docs.codeclimate.com/docs/duplication

[2016-09-30 15:36] chriskacerguis commented on #204
@AllenBW @martinpovolny @AparnaKarve @h-kataria thoughts/

/cc @chessbyte @dclarizio @Fryguy

[2016-09-30 15:56] dtaylor113 commented on #204
Hi, I raised the Javascript mass_threshold to 100, this reduced the amount of issues to a manageable size in my PR.  And more importantly, seems to identify only 'real' issues now.

[2016-09-30 15:59] h-kataria commented on #204
@chriskacerguis i think we should open a new GH issue to address these kinds of valid warnings/issues to be addressed separately outside of the existing PR and not hold off on merging of the PR.

[2016-09-30 16:27] chriskacerguis commented on #204
@h-kataria at what point do you foresee they get addressed (timeline wise)?  It seems that with how things go, we quickly accumulate debt.

@dtaylor113 why 100?  Is there a reason for that number, or is it just an arbitrary high number.  If the CC scanned PR's, the "false positives" seem to be between 40 - 50 (default threshold is 40).  So, I wonder if setting the threshold to 60 would be sufficie

[2016-09-30 16:29] chriskacerguis commented on #193
I guess it depends on what exactly the Ops ui is doing.  Are you testing on travis build, or just when QE is doing their mojo?

[2016-09-30 16:30] AllenBW commented on #204
oooo i like that idea @h-kataria, and would add, with reference to timeline, next issue to be worked by the individual would be the resolution of the code climate deets

this might take some self control though 🎱 💀 🍜

[2016-09-30 16:32] chriskacerguis commented on #204
@AllenBW yeah I do think that @h-kataria idea has a lot of merit, but it's the coming back to it part that I worry about.

[2016-09-30 16:33] chriskacerguis commented on #141
@AllenBW all yours dude!

[2016-09-30 16:34] AllenBW commented on #204
so may a requirement that before pr is accepted that ya reference the issue being worked that address climate issues?

[2016-09-30 16:34] himdel commented on #193
The second .. IIRC it takes *way* too long to run for every PR.

Unless you're proposing we write these tests, in which case, umm... I'm not the right person to ask, I've *used* selenium, and not planning to do that again :) (But seriously, I had high hopes for https://www.cypress.io/ in this regard, but they still haven't released anything...)

[2016-09-30 16:36] chriskacerguis commented on #193
Yes, I'm suggesting that we write our own tests (at least for the SUI).

[2016-09-30 16:39] himdel commented on #193
OK, in that case, I'd be strongly for a solution that involves writing the tests in Javascript, and which can handle things like waiting for promises before continuing and in general has a decent async support.

Selenium can't really do these things that well, and if we're writing something new...

(Unfortunately, I only know about that cypress project, but maybe there are other candidates..)

[2016-09-30 16:40] chriskacerguis commented on #193
Well _SUPPOSEDLY_ SauceLabs can do that (it's built for Angular apps)

[2016-09-30 16:41] himdel commented on #193
Allright, can't see the *how* in the docs, but maybe it's there somewhere :) if so .. I'm happy :)

[2016-09-30 16:41] chriskacerguis commented on #193
@chalettu can you comment on @himdel requirement?

[2016-09-30 16:50] chalettu commented on #193
The tests we will be writing in Javascript.  As part of my evaluation I will be sure to test out waiting for a page to finish coming up.  I will test a handful of use cases but async requests are common fair for this type of testing framework.  Anything that can be done on a webpage can be replicated in tests.

[2016-09-30 16:52] himdel commented on #193
OK, @chalettu when doing that, could you please share those test samples here? Just so we can see how it actually looks.. :)

[2016-09-30 16:53] chalettu commented on #193
Sure, I will post links to the videos taken from the sample tests.

On Fri, Sep 30, 2016 at 11:52 AM, Martin Hradil <notifications@github.com>
wrote:

--
Chris Hale

Senior Software Engineer
chhale@redhat.com
512-585-7286
https://bluejeans.com/chhale

[2016-09-30 16:53] AparnaKarve commented on #204
First and foremost, is this particular code duplication issue fixable?
And even if it is, would we be compromising on the readability of the code?

I think we should evaluate things on a case-by-case basis.
For this specific duplication case, I think we should ignore CodeClimate if there is no fix in the foreseeable future.

[2016-09-30 17:02] chriskacerguis commented on #204
@AparnaKarve interesting, who do you propose makes the call if there is "no fix in the foreseeable future"?  Or maybe what is the criteria for that?

[2016-09-30 17:12] himdel commented on #193
@chalettu I'm more interested in the code itself, a video could be interesting too, but .. it's not what I'm asking for :).

[2016-09-30 17:13] dtaylor113 commented on #204
@chriskacerguis , looking at the violations I was getting, 100 seemed the cut off.  mass-74 was the directive duplication, likewise mass-84 was the pf directive sort config.  Putting it to 100, cleared a lot of the questionable ones, but did leave the larger code duplication -all the list view issues, which I thought was appropriate (note, I'm adding a list service to handle the repeated filtering

[2016-09-30 17:20] himdel commented on #204
Easy.. if the PR is introducing the issue, which wasn't there previously, block the PR until it fixes the issue. Else .. if a PR solving the issue already exist, and doesn't seem to be blocked, wait for that PR. Else .. if neither a PR nor an issue exists, create the issue, either way, link it to the PR. That way, we'll ensure that the ignored warning won't get lost or forgotten.

The second step

[2016-09-30 18:57] dtaylor113 commented on #204
**When we set the duplication mass_threshold to less than 100, we start getting these:**

![image](https://cloud.githubusercontent.com/assets/12733153/19003201/c324090a-871d-11e6-8e9e-dc49d57ee8f9.png)

**This is how we define modal dialogs in SUI!**

![image](https://cloud.githubusercontent.com/assets/12733153/19003221/e31d36e6-871d-11e6-9d1f-64ff88092c8c.png)

**This last one I don't even know h

[2016-09-30 18:59] dtaylor113 commented on #204
IMO mass_threshold of 100 seemed to be the sweet spot.  At this setting Code Climate showed me several similar code blocks, which I could do something about!   I had no problem accepting and fixing those violations :smile:

[2016-09-30 20:29] chriskacerguis commented on #204
@dtaylor113 what's the URL of those tests?

[2016-10-03 05:33] martinpovolny commented on #193
I am quite sure we should not duplicate QE work here. So writing selenium tests for SSUI makes no sense.

If we have problem with low coverage of SSUI by QE tests then we should document what is missing and talk to them.

Even if we decided to write our own selenium tests, we should contribute to the QE repository and not try to use our own set of tools. That's waste of time.

[2016-10-03 12:55] dtaylor113 commented on #204
With the threshold set to 100, those violations do not show up anymore.

[2016-10-03 12:58] chriskacerguis commented on #204
@AllenBW what are your thoughts about changing mass_threshold to 100?

@dtaylor113 I'd still like the URL

[2016-10-03 13:00] chriskacerguis commented on #193
@martinpovolny do you not see any value in running tests (and taking at least some of the workload from the QE team)?  As far as contributing, yes I agree we should contribute as much as possible.

[2016-10-03 13:01] chriskacerguis commented on #198
@AllenBW where are we with this?

[2016-10-03 13:08] chriskacerguis commented on #147
@AllenBW have you updated all the references in the code / docs to be "Service UI" (instead of "Self Service UI")?

[2016-10-03 13:10] dtaylor113 commented on #204
Well, I was for changing it to 100 'cause it trimmed down the violations to a manageable amount, but I was under the impression that all code climate violations had to be resolved in order for a PR to be merged, but I see that you merged Jeff's PR which still had CC violations.
If CC doesn't block PRs, then maybe 100 is too high, but (a lot of 'buts' here :-) as I wrote in #204, I was getting CC v

[2016-10-03 13:11] dtaylor113 commented on #204
Oh, url is https://codeclimate.com/github/dtaylor113/manageiq-ui-self_service/compare/blueprint-list-unit-test#ratings

[2016-10-03 13:12] AllenBW commented on #204
Increasing mass threshold  tells the codeclimate duplication engine "code blocks of this mass(size) that are identical or similar are ok".  Codeclimate defines similar as

Large patterns already exist in the sui code base, an example would be our state controllers.  FYSA default is 40.  Given our app size, design patterns employed and that the default is only a suggestion, I would say increasing t

[2016-10-03 13:13] AllenBW commented on #198
Working node-sass presently, will chew on this after 👍

[2016-10-03 13:20] chriskacerguis commented on #204
Ok, so given the discussion on this, I can get behind moving the mass_threshold to 100.

We didn't really talk about the larger issue of "CodeClimate issues that should not block PR merge", we seemed to focus on the individual use case.  That said, I do think that CodeClimate gives us a lot of advantages, and so if CC "fails" then we should not merge.

/cc @AllenBW @martinpovolny @AparnaKarve @h-k

[2016-10-03 13:29] martinpovolny commented on #193
@chriskacerguis : Running tests the QE run? From time to time that may be helpful.

Taking their workload? No. We have our workload. We try to make their life easier by simplifying their testing. E.g. https://github.com/ManageIQ/manageiq/pull/11390. But doing their work? No.

[2016-10-03 14:20] himdel commented on #204
Actually, can we have a discussion on that too?

I do agree that we should respect code climate and **prefer** not to merge when red. That said, let's think about it - if we have a CC failure that's clearly wrong, and a PR that's clearly doing the right thing - what should we do? Block a perfectly sensible PR because CC is magic, or merge it and then try to address the CC failure?

To me, @dtaylor

[2016-10-03 14:35] himdel commented on #204
Just realized one more thing.. CC is essentially doing the same thing here that Rubocop is doing in the ops UI. In the ops UI, we simply ignore rubocop warnings that are not critical or explicitly wrong. So in effect, not doing the same thing here would constitute a policy change..

[2016-10-03 14:40] #204 closed

[2016-10-03 14:49] AllenBW commented on #147
@chriskacerguis There remains work to be done on this:
* serve url should be `http://localhost:3001/service/` rather than `http://localhost:3001/self_service/`
* repo and root folder should be `service` (and readme update to this affect)
* app title still mentions self-service (and a few other places in app need to be updated)

[2016-10-03 14:50] chriskacerguis commented on #204
@himdel I mostly agree with you there is a culture of "it's red, I can't merge and I don't want to take the time to understand the problem".  However, I think that, in the case of @dtaylor113 this "system" worked.  He raised a flag, we talked, and I felt that it was dealt with in a reasonable amount of time.

The big thing for me, is that I feel creating a "I'll come back to it later" is problemat

[2016-10-03 15:13] himdel commented on #204
Right, I definitely agree that "i'll come back to it later" often means never, or practically never :(. But then again, not always, so I still have hope :)

And really, I'm not trying to push us towards ignoring CC, that's the last thing I'd want.. I guess all I really want is something like "never merge with red CC, unless it makes sense" :D but then we're back to people and what who interprets h

[2016-10-03 15:32] chriskacerguis opened #215 "Add SCSS Lint to repo"
Looking to add SCSS Linting to the repo (and associated checks).  Thoughts from the team?

thoughts? @AllenBW @AparnaKarve @serenamarie125 @chalettu @jeff-phillips-18 @dtaylor113 @dgutride @h-kataria

/cc @chessbyte @Fryguy @dclarizio

[2016-10-03 15:35] chriskacerguis commented on #100
Changing from bug to enhancement.

[2016-10-03 15:36] chriskacerguis commented on #28
@himdel @romanblanco is this still an issue?

[2016-10-03 15:37] jeff-phillips-18 commented on #215
👍

[2016-10-03 15:37] chriskacerguis commented on #140
Sending this to @AllenBW since he's pretty much doing it

[2016-10-03 15:39] AllenBW commented on #140
oh nice, there's actually some things I want to do with this... a number of tasks we no longer (ever?) use need to be wiped up <3

[2016-10-03 15:42] chriskacerguis opened #217 "Minify JS as part of the build process"
I think that, as part of the build process, we should start to minify the JS code.  Note: We need to make sure it is compatible with babel (per @himdel)

Thoughts? @martinpovolny @AllenBW @Fryguy

/cc @dclarizio @chessbyte

[2016-10-03 15:42] himdel commented on #28
Still an issue, #44 only fixes websocket proxying, the issue that browsersync still always uses the port 8001 unless a `PORT` environment variable was provided, and always redirects to 3001 remains.

It's hardcoded in the config (`gulp/config.js` - grep for `browserSyncOptions`).

[2016-10-03 18:05] AllenBW commented on #217
we already min and uglify built js (but not dev js), one of the changes that happened on a commit when updating the dependencies and after the eslint prs made it in(as this enabling this was being held back by a mix of outta date dependencies and absent di for some components)

[2016-10-03 20:30] chriskacerguis opened #219 "Need hotfix override system"
Need to create a "hotfix" system, were we can drop in JS files to override existing ones in the case of a hotfix.  Thoughts on the best way to do that?  This _may_ push us to using NodeJS to serve the otherwise this would need to be done via Rails/Ruby side of things.  Also, we need to not load everything into one file (i.e. no rails asset).

Thinking something like...

by default it would load

/

[2016-10-03 20:41] dclarizio commented on #219
Adding @martinpovolny @AparnaKarve @himdel for thoughts

[2016-10-03 20:44] chriskacerguis commented on #219
With all the new things we are doing, I wonder if the rails asset pipeline is going to continue to cause issues; it really doesn't help us (the SUI team) much.

[2016-10-03 21:12] AllenBW commented on #219
@eclarizio and I went through this once... for sui because we cat everything into 4 or so files, ja just gotta rebuild the file in question (but really only two, because two of the files are dependency files)

[2016-10-03 21:23] chriskacerguis commented on #219
@AllenBW wrong "clarizio"

[2016-10-03 21:27] AllenBW commented on #219
Nope, right one :-P

[2016-10-03 21:53] AllenBW commented on #198
Been working this today, have not yet hit gold on this, has proved to be more involved than initially thought.  If tomorrow doesn't yield success I'll shelve this for the time being and move on to other priorities.

[2016-10-04 08:53] himdel commented on #217
@AllenBW are you sure about that? When I do `gulp build` on current master, and look at the generated `../manageiq/public/self_service/js/app-*.js`, what I see looks like this..

[code]

So.. yes it's concatenated, but doesn't look minified nor uglified.

In fact, probably an issue.. seems like `/** @ngInject */` doesn't get resolved at all, which needs to be fixed before minifying..

[2016-10-04 09:03] himdel commented on #219
Well, moving to a separate node app means it would be easy. But that's not something we can backport, however, we can do something similar for euwe & darga..

   * ensure the appliance contains a copy of the self-service repo
   * ensure the appliance contains all the dependencies for `gulp build`
   * then, to hotfix we simply patch the repo copy (or untar the changes over it, same as in the ops

[2016-10-04 11:22] martinpovolny commented on #217
What is the gain of minification? Speed? How much speed? Are there any other reasons to do that?

I am quite sure minification will make hunting bugz more challenging so is it worth the speed gain?

[2016-10-04 11:32] chriskacerguis commented on #217
@martinpovolny Yes, it would be for speed.  As for "cost vs. benefit", that's good question, and I think that is worth investigating.  As for the hunting bugs, doesn't the Rails Asset pipeline put everything into one big JS file?

[2016-10-04 11:47] chriskacerguis commented on #219
@himdel You are right, this really isn't something we can backport.  I'm not sure I fully understand your solution.  We are trying to get away from from doing what you are describing (again, not sure I fully understand).  That way we can provide the customer with the ability to drop in a file, and restart the server.  There would be nothing more for them to do.

[2016-10-04 11:47] himdel commented on #217
@chriskacerguis Note that the rails asset pipeline is *not* involved in SSUI, even in production. The result of `gulp build` is served by Apache directly. (That said, yes, the ops UI does minify and uglify.)

[2016-10-04 11:59] himdel commented on #219
@chriskacerguis dropping a file and restarting the server works only if the file is a file containing *all* the javascript from SSUI, concatenated (and you don't actually have to restart the server in that case).

That means we would never be able to do 2 hotfixes on one machine (because you have no way to even find out if a hotfix had been applied or not), and certainly makes the process differen

[2016-10-04 12:01] chriskacerguis commented on #219
@dclarizio To give some context here, can you please chime in with the details of what is prompting this?

[2016-10-04 12:02] chriskacerguis commented on #219
@himdel I'm not sure I understand you when you say "dropping a file and restarting the server works only if the file is a file containing all the javascript from SSUI".  Wouldn't that file just need to contain the contents of the replaced file?

[2016-10-04 12:05] himdel commented on #219
Well, that's the problem :) we don't have those files on the appliance at all. All we have is `/var/www/miq/vmdb/public/self_service/js/app-*.js` and `lib-*.js`, which are respectively the concatenation of *all* the files from `client/**/*.js` and the concatenation of all the library dependencies. That's it :).

That's why I was proposing having a copy of the ssui source on the appliance, and havi

[2016-10-04 12:08] chriskacerguis commented on #219
@himdel thank you for clarifying.  That is what I thought was being done here https://github.com/ManageIQ/manageiq-ui-self_service/issues/217 by the rails asset pipeline.  So, as a part of that, we need to stop doing that concatenation.

[2016-10-04 12:12] himdel commented on #219
@chriskacerguis No, we cannot stop concatenating files, we need to serve these files concatenated in production - otherwise, you'd be downloading ~200 files on each load, instead of 2. That's why, to be able to hotfix, we need to be able to do the concatenating on the appliance itself.

[2016-10-04 12:37] chriskacerguis commented on #219
@himdel I wonder if we need to rethink that. I would want to dig in more regarding why we would need to load ~200 files. One of the big questions that I have is everything we are loading required, or are we loading things that wouldn't necessarily be required?  I agree that the less http requests the faster the app, but if we start to break things up wouldn't that allow the browser to cache a bit

[2016-10-04 13:31] dtaylor113 commented on #105
Hi @evenit , thanks for the info., I'm somewhat new to MiQ Ops UI, where exactly can I create a new dialog?  I'm in Services -> Catalogs, and Services -> Service Catalogs.  I see under Configuration where I can "Add a New Catalog" and "Add a new Catalog Item", "....Bundle".  I run through those wizards, but I do not see where I can create a new dialog  -I see where I can select an existing dialog.

[2016-10-04 13:45] AllenBW commented on #217
@himdel oh YEAH apologies, I misspoke, odd because uglification is a pipe that the code runs through, so it should be uglified, the fact that the code isn't is mildly concerning... hooray another thing to add on the radar!

[2016-10-04 13:46] chriskacerguis commented on #105
Also, just wanted to chime in here.  @evenit is this for the Self Service UI (this repo) or for the main MIQ repo?

[2016-10-04 14:16] himdel commented on #219
@chriskacerguis Well, 122 files is our source, and we're using about 47 external dependencies, so at least that many files, probably more :).

Loading things that are not necessarily required is a moot point, sorry, angular 1 does not support lazy loading, so we're out of luck. Angular 2 will however, so we could revisit that then. (And I *have* heard about projects doing their own lazy-loading in

[2016-10-04 14:21] himdel commented on #217
@AllenBW if it helps, it's commented out in `gulp/tasks/optimize.js`, with a comment to re-enable once the injection problem is resolved :) I'm gonna leave it to you to figure out who added that there 2 weeks ago ;)

[2016-10-04 14:25] AllenBW commented on #217
@himdel ?  not commented out on master, and build files aren't uglified, oh the mysteries that we collect on tuesdays...

https://github.com/ManageIQ/manageiq-ui-self_service/blob/master/gulp/tasks/optimize.js#L45

🤔 👍 8️⃣ 🎈

[2016-10-04 14:28] AllenBW commented on #219
Actually most things can be made happy with node 4 (eslint is >=4) but if we're going to update, why not update (unless it breaks something unfixable). I say this not knowing the context/direction of the conversation, don't mind me.

[2016-10-04 14:28] himdel commented on #217
Aaah, you already fixed that in  3242e5191aa729d81422a4d5a057c6f4fcdf346e :). However, it still doesn't uglify, weird :)

[2016-10-04 14:39] chriskacerguis commented on #219
@himdel yeah, again there's lots of work to be done...and not a "simple" thing.  I know Angular 2 does lazy loading, and I think that is something we will want to look at eventually.

[2016-10-04 14:40] AllenBW commented on #217
dang  you tracked down specific commit... HARDCORE :feelsgood:

[2016-10-04 14:42] #141 closed

[2016-10-04 14:51] chalettu commented on #219
So the suggestion that @himdel made earlier about possibly using gulp-build on the appliance would be the best route to make this possible.  The practice we are using of taking all our source files and combining them for ease of use at runtime is a fairly common industry practice these days.  We could actually go a similar direction and generate new JS files with the hotfix for the user , maybe as

[2016-10-04 14:57] himdel commented on #219
@chalettu the generated files already have a hash in the name, so.. yeah, we already do that :).

[2016-10-04 14:58] chalettu commented on #219
Cool.  Didn't look close enough to see that, well that makes that easier then.

[2016-10-04 15:01] chriskacerguis commented on #219
@himdel so, I think @chalettu might be on to something.  I think that the goal is to make hot fixing as easy as possible for the end-user.  So, any suggestions on making that easy are welcome to get this requirement moving...and I like @chalettu thought on that (some sort of upload tool)

[2016-10-04 15:35] AllenBW opened #224 "Investigate Gulp Task Pause"
As referenced in #216, this issue is to investigate and ameliorate the "pause" that occurs at the end of the following gulp tasks (possibly others):
* gulp test

The "pause" is a break in time between the reporting completion of a task ie `[11:32:07] Finished 'test' after 7.67 s` and the freeing up of the console for additional input..

Curiously, `gulp testonly` does not yield the same pause as t

[2016-10-04 15:36] AllenBW commented on #224
@miq-bot add_label bug

[2016-10-04 18:06] AllenBW commented on #215
Heyo, was just thinking about this, howabout i add https://www.npmjs.com/package/gulp-sass-lint as a gulp task? run along side eslint for all the things? @chriskacerguis

[2016-10-04 18:38] chriskacerguis opened #225 "Chris K test sync issue"
please ignore.

[2016-10-04 18:46] chriskacerguis commented on #225
test

[2016-10-04 18:49] chriskacerguis commented on #225
test again

[2016-10-04 18:51] chalettu commented on #225
@github-issue-sync

[2016-10-04 18:53] #225 closed

[2016-10-04 18:54] chriskacerguis commented on #224
Is this actually causing an issue?

[2016-10-04 19:16] dtaylor113 commented on #224
I actually did see a pause using `gulp testonly`.  I don't think this has any effect, except that I added a unit test dependency and thought it was causing the pause  -I didn't realize it was a pre-existing condition.

[2016-10-04 19:24] chriskacerguis commented on #215
@AllenBW sounds good...let's do it ;)  I'm also going to add it as a CodeClimate engine

[2016-10-04 19:43] chalettu commented on #215
I am all for scss linting.

[2016-10-04 19:51] AllenBW commented on #224
Not an issue for me :-P

[2016-10-04 20:04] #198 closed

[2016-10-04 21:52] dajohnso commented on #193
+ @psav

So this, SSUI, is something that as of today we have little support around in terms of test automation.  We are getting there but it has not quite landed yet as we needed to refactor the test automation to handle the multiple end points that the product is beginning to offer.  This is all part of the FW3.0 effort that we have been mentioning.

The same can be said with regards to saucelab

[2016-10-04 23:37] chriskacerguis commented on #193
@dajohnso thanks for the update.  I really like to do more testing at build time, and yes it is a bit slower, but being able to do checks as we do PR's will make things more stable.  Since you have very little, can our teams work together and put SauceLabs support in our repo for testing?  thoughts?

[2016-10-05 08:04] himdel commented on #219
Aaah, sorry @chalettu, I completely missed the upload suggestion.

Well, yeah, from the user's perspective, this is a great idea! I'm not as sure if it's still great given the context though - 2 things concern me.. a) hotfixing is (AFAIK) relatively rare, so it feels like making a web UI for that *could* be an overkill, especially since who'd be applying the patches would be sysadmins anyway, righ

[2016-10-05 10:43] chriskacerguis commented on #219
@himdel so, some thoughts to your comments:

**RE: frequency of hotfixing**
I can't comment about how rare hotfixing is, but it seems that it is needed enough for @dclarizio to request a system to manage it (whatever that system is).

**RE: security**
I agree with you there, we do open a possible vector, but it seems like a good point to start a discussion for something to do.

[2016-10-05 10:58] chriskacerguis commented on #219
**Just to make sure we are all on the same page, here are the requirements that I have been given:**

1. This "hotfix" system would be for the "F release" or above
2. Need way for customer to easily apply hotfixes (and be able to apply hotfix on top of hotfix)
3. Build tools (e.g. Node 6.x) will not be available to customer.

@dclarizio did I miss any?

**Current (high level) solutions from this t

[2016-10-05 11:03] himdel commented on #219
Aaah, IMO requirement n.3 (build tools not available) severely limits what we can do ... essentially down to *only* solution 1, so I think that one *needs* to be relaxed.

I'm for solution 2 (4.), mainly because I think solution 1 is unrealistic in production, and 3 (7.) feels like a possible overkill, and still needs to use either 1 or 2 under the hood.

[2016-10-05 11:10] chriskacerguis commented on #219
@himdel I very much agree with you, but I can't do anything about the build tools.  Node 6.x is not available, and so until Node is updated to 6.x in the "blessed" repos we can't add it to the appliance.

[2016-10-05 11:13] himdel commented on #219
tbh I'm still hoping it will get RPM'd *before* the F release.. but if not, then yes, we do have a problem. (I'd say just install it manually when doing the first hotfix, but not at all sure how feasible that really is..)

[2016-10-05 12:05] AllenBW opened #228 "Restore all relevant eslint policies"
So we rolled back from node 6 to node 0.10 and a number of eslint policies had to be disabled (because they didn't existing in the older version of eslint).  This is an issue designed to restore those rules and include any fixing required for `gulp eslint` to pass.

@miq-bot add_label 'technical debt'

[2016-10-05 14:50] epwinchell opened #230 ""Register Iconic Nodes" screen not using Bootstrap filestyle"

[2016-10-05 14:52] #230 closed

[2016-10-05 14:53] chriskacerguis commented on #230
Uhhh???  What just happened here?

[2016-10-05 14:54] epwinchell commented on #230
wrong repo

[2016-10-05 15:21] chalettu commented on #219
I vote for the 3rd option.  There are a lot of ways you could minimize an
attack vector to make it safer.    My second choice would be option 2.  I
would have to learn a little more about how we package our codebase for use
on appliances before talking more about it.

On Wed, Oct 5, 2016 at 6:13 AM, Martin Hradil <notifications@github.com>
wrote:

--
Chris Hale

Senior Software Engineer
chhale@red

[2016-10-05 16:08] bascar commented on #219
I like option 2 the best for many reasons but live troubleshooting/screensharing/fixing corner case issues on the fly and testing immediately is the top of the list.

Hotfix on hotfix is also a concern. Any way we could use git/hashing/other as a way to verify that what we are laying down as a fix is in fact loading into the "known" environment we expect the fix to lay into?

[2016-10-05 16:51] chriskacerguis commented on #215
@AllenBW does https://github.com/ManageIQ/manageiq-ui-self_service/pull/229 close this out?

[2016-10-05 16:59] AllenBW commented on #215
@chriskacerguis yep!

[2016-10-05 17:07] #215 closed

[2016-10-05 17:12] dclarizio commented on #219
Option 3 has an issue, load balancers/multiple appliances.  The customer would have to upload that file to every UI appliance that has our source code, from the Web UI.  Granted, this issue does exist even for server based hot fixes, so perhaps we can build that into the Web UI screens somehow.

I'm for option 2, which follows more closely how we do existing hot fixes, but simply adds a script ste

[2016-10-05 17:15] chriskacerguis commented on #219
@dclarizio I think with option 2 we could have a system setup that as we update the "branch" in Git, it would auto-update from that branch.  So, if they were running E release then every time we updated the E branch it would pull down the latest (maybe even have an auto-update script that runs), so it would update all the UI's.

[2016-10-05 17:50] AparnaKarve commented on #219
I'll go with option 2 also since it seems like the most feasible option at the moment.
Maybe we could deploy a tool like `appliance_console` that we currently have on our appliances to apply the hotfix and rebuild SSUI.

[2016-10-05 19:20] bascar commented on #219
@chriskacerguis I think I still like option 2 :)

What is the dependency on Node 6? Can't we carry our own packages for it until they are pulled into the "blessed repos"?

[2016-10-05 19:28] serenamarie125 commented on #115
what do you mean by theme @himdel ?

I'd imagine that any rebranding that occurs for the Operations UI should be applied to the SSUI as well.  We should discuss this from a UX perspective and make sure that the experience is correct.

[2016-10-05 19:28] chriskacerguis commented on #219
@bascar As I understand things (which could be incorrect) for the appliance we can only pull from a "blessed" repo, at the present time only Node 4.x is available.  We cannot add the NodeJS repo.  @simaishi could you please confirm / clarify things for me and @bascar?

[2016-10-05 19:34] himdel commented on #115
@serenamarie125 Aah, by theme I mean specifically `skin` - a set of images, additional css files, and js text overrides that can be pulled in to rebrand SSUI..

[2016-10-05 19:35] serenamarie125 commented on #115
👍 @himdel .  FYI just sent out another email asking PM about requirements per branding as well.  Thanks for the clarification here!

[2016-10-05 19:37] serenamarie125 commented on #147
@chriskacerguis @AllenBW this is for post 4.2, correct ?   I'm assuming so, since 4.2 will remain solely self service.

[2016-10-05 19:37] chriskacerguis commented on #147
This is for the F release.

[2016-10-05 20:17] AllenBW commented on #147
eeeeeeeyoooooo @chriskacerguis so hold off on this for a bit?

[2016-10-05 21:00] simaishi commented on #219
@chriskacerguis @bascar For downstream, we can only install RPMs from the "blessed" repos. We can package our own and use that, but that means we have to maintain the RPM as well. We had some discussion about this in email and I think we decided not to build our own.  cc @Fryguy @chessbyte

[2016-10-06 01:09] #140 closed

[2016-10-06 01:24] chriskacerguis commented on #219
Thanks @simaishi !!!!!!

[2016-10-06 12:33] AllenBW commented on #217
@chriskacerguis you ok if i turn this from discussion into action? need to figure out why we aren't uglifying presently...

[2016-10-06 12:38] chriskacerguis commented on #217
@AllenBW got for it.

[2016-10-06 12:43] chriskacerguis commented on #219
@Fryguy any concerns from your end about doing "Proposed Solution 3", and basically make a web updater?

[2016-10-06 13:07] himdel commented on #115
Created a [PR with a sample skin](https://github.com/ManageIQ/manageiq-ui-self_service/pull/235) documenting how it works, I'll pick the README to guides too, once merged.

[2016-10-06 13:44] epwinchell commented on #115
@himdel Thanks. I'll have a go at it when I have a chance.

[2016-10-06 14:38] chriskacerguis opened #236 ""F Release" Plans / Tasking"
Creating a stub ticket of the things we want to get done for the F release.

**Overall Goals**

- [ ] Rework the UX for the Service Designer for the latest requirements (coming soon)
- [ ] Update the API for the new SD changes
- [ ] Reevaluate the backend for the SD to accomindate the new API / UX changes
- [ ] Evaluate the way we store a "published" blueprint (can we use a common or standard form

[2016-10-06 22:18] dajohnso commented on #193
@chriskacerguis , of course, I am completely in favour of more collaboration between the two teams.  "Our repo" is a little ambiguous but sure, qe wants to try and assist if possible although the majority of our focus will be towards adding the support in our existing framework than to start creating a new one.

We are making more progress towards opening up our qe test automation framework to app

[2016-10-07 12:13] martinpovolny commented on #219
To start I'd clarify the requirements:

From the above only 1. is actually true.

Number 2.: hotfixing this way should be very rare (we have RPMs or DEB packages do to easy upgrades and the person doing the hotfixing has to be an experienced sysadmin not an accountant.

Number 3.: as was written earlier in the discussion we don't need the latest Node for the build.

On solutions:
Solution number 1

[2016-10-07 12:24] chessbyte commented on #219
@chriskacerguis Option 3 does seem like overkill to me as well.  We would be investing in something that we would not need once Node 6 is on the appliance.  Additionally, the Web UI of Option 3 would need to make 2 big assumptions: 1) only allow system admin to do this and 2) all CloudForms appliances may live inside the corporate firewall and have no "internet" access.  So, I vote for Option 2, a

[2016-10-07 18:24] chriskacerguis commented on #219
@martinpovolny because we have updated the dependancies, we need Node 6.x.  As we saw, when Node was running an old version, the build failed.  Also, those requirements are neither true nor false, they were communicated to me; they simply just are (their validity may be questionable).

@chessbyte I agree an update system for just hot fixes is overkill, however from an overall process I do think th

[2016-10-07 18:29] #228 closed

[2016-10-07 18:30] chriskacerguis commented on #146
So, it looks like a 👎 for the move to a dedicated node app.  Any final thoughts?

@AllenBW @chalettu @himdel @Fryguy

[2016-10-07 18:34] #115 closed

[2016-10-07 22:34] chriskacerguis commented on #219
Re-opening this for additional discussion.

[2016-10-10 12:01] himdel commented on #115
guides pr https://github.com/ManageIQ/guides/pull/160

[2016-10-10 12:06] chriskacerguis opened #239 "Rework Shopping Cart Experience"
Gathering together requirements on this
- [ ]  Service Catalog view needs to have selection state shown when ordering a card
- [ ]  Add some type of progress indicator (there is no indicator that something is happening)
- [ ]  Add confirmation dialogs to clear and delete actions from the Cart
- [ ]  Reword some of the labels and messages associated with Ordering and the Cart
- [ ] Add My Orders to

[2016-10-10 14:37] Fryguy commented on #219
@chriskacerguis We will also need to find a way to deploy this differently for downstream (probably RPM, but we are still discussing), so whatever choice is made should be aware of that.

[2016-10-10 14:43] Fryguy commented on #219
Reading back, option 2 is probably the most flexible and allows us to deploy hotfixes via RPM downstream (and with RPM allowing us to auto-build the SSUI afterwards).

One downside to the rebuilding is how we deploy the files downstream anyway though.  We pre-build the SSUI files and make them part of the RPM.  If we remove and replace them, then I think RPM will not be happy.  We'll have to find

[2016-10-10 14:45] chriskacerguis commented on #219
@Fryguy Was that Martin P's "option 2", b/c option 2 from my list was keeping a copy of the source on the machine and rebuilding as needed.

[2016-10-10 14:53] Fryguy commented on #219
@chriskacerguis I was referring to proposed solution 2 from here https://github.com/ManageIQ/manageiq-ui-self_service/issues/219#issuecomment-251644080

[2016-10-10 14:55] chriskacerguis commented on #219
cools.  just wanted to make sure :)

[2016-10-10 14:58] chriskacerguis commented on #219
@Fryguy If we go with option 2, then that's more of a system management, not really a "code" issue per se.  So, going to close this issue out and we can stick with option 2 (which I'm not sure is ideal, but keeping with KISS principles and "I don't have a better idea"&trade;  it seems like the way to go)

[2016-10-10 14:58] #219 closed

[2016-10-11 19:10] chriskacerguis opened #245 "Migrate to yarn for packages?"
Seems there has been some talk about suing Yarn, so I'm going to open an issue to discuss.

Info about Yarn: https://code.facebook.com/posts/1840075619545360
Site: https://yarnpkg.com/en/docs/install

I'm not advocating we switch (yet), but it brings up a lot of good points / issues so I thought it would be good to at least discuss (as I'm sure others will ask about it).

[2016-10-11 21:09] chriskacerguis commented on #245
@chalettu can you do a little research, and provide your thoughts here?

[2016-10-11 21:10] chalettu commented on #245
Sure, I can take a look.  I had been reading about it earlier today but can
explore it to see its possible viability for node package management for
our projects

On Tue, Oct 11, 2016 at 4:09 PM, Chris Kacerguis <notifications@github.com>
wrote:

--
Chris Hale

Senior Software Engineer
chhale@redhat.com
512-585-7286
https://bluejeans.com/chhale

[2016-10-12 13:36] chriskacerguis commented on #154
Looks like all these are done.

[2016-10-12 13:50] #154 closed

[2016-10-12 14:33] jjlangholtz commented on #245
I spent a brief amount of time playing with `yarn` and from what I have seen so far it is an improvement over `npm` for a few reasons.

1. The `yarn.lock` file is a much more robust solution than `npm-shrinkwrap.json`. The former works just like `Gemfile.lock`, automatically generating a new lock file after running `yarn`. As long as this lock file is commited in source control, every developer wi

[2016-10-12 16:25] chriskacerguis opened #247 "Migration to Angular 2"
Wanted to talk about the pro's vs. cons of moving to Angular 2 (since it is now released).

@AllenBW @chalettu thoughts?

[2016-10-12 16:59] jeff-phillips-18 commented on #247
The biggest blocker would be getting an angular 2 version of angular patternfly. We could determine which angular patternfly directives are actually use and see what it would take to convert them to angular 2 components. It would be a good kick start to an Angular 2 version of Angular Patternfly.

[2016-10-12 17:00] dgutride commented on #247
Just my perspective after starting an Angular 2 project at my last job to help kick off the conversation:

Pros:
Improved rendering performance
Component testing is spectacular
Typescript (if you like it)
ES6 syntax support - improves the quality of your JavaScript
Community momentum behind Angular 2 is very solid, means it's easier to get support for issues and the skills learned are not wasted

[2016-10-12 17:11] chalettu commented on #247
My observations echo much of what other folks are saying.

Uses typescript and es 6
Uses components to simply app architecture and modularity
Much simpler architecture for defining services.  Instead of having
Factory,Service,Provider,Constant,Values you have one way of defining services.
Performance improvements - Build from the ground up to be more performant on mobile , this has benefits for an

[2016-10-12 17:13] dtaylor113 commented on #247
I concur with Dana and Jeff.  The (IMO) longer term goal of Patternfly is to do all 'widgets' as Web Components, then provide client javascript framework wrappers around them (Angular2, react, etc).  This way a PF core component can be written once as a Web Component, and then easily ported to many of the modern javascript frameworks.
I'm not sure project teams are going to be able to wait for the

[2016-10-13 15:41] AllenBW commented on #245
Yep, looked, sold. Lets do it! Just keep that documentation 🆕 and :fresh: ( 🍇 instead of :fresh: ❓ ) gotta point users to [here](https://yarnpkg.com/en/docs/install) for instillation and update steps.

A question this raises can we remove requirement for npm? (at least from the readme).

Snap, `yarn install` saul' ya need to get rolling on this, for sure sold.

[2016-10-13 16:11] AllenBW commented on #217
@chriskacerguis we can probably close this one

[2016-10-13 16:14] #217 closed

[2016-10-13 16:55] chalettu commented on #245
So the thing I think that is left to look at will be to see how we can get travis ci to use yarn as i was reading and travis ci uses npm by default and since yarn is new, I don't believe they have support for it just yet.

[2016-10-13 17:09] AllenBW commented on #247
@chriskacerguis so we are doing this for sure for sure?

Disclaimer: I have not migrated a project from angular 1 to 2 before. 💥 Said it, now everyone knows something I don't (yet) know!

My general concerns are these in no particular order:
* mature supporting dependencies
  * patternfly is a blocker
  * angular-drag-and-drop-lists is a blocker, good news, will be rendered unnecessary by ng2, bad

[2016-10-13 17:33] AllenBW commented on #245
also [this](https://yarnpkg.com/en/docs/cli/why) is **AWESOME**

[2016-10-13 17:42] chriskacerguis commented on #247
@AllenBW Right now, we're just looking at things.  We'll have to go to Angular 2 at some point, but right now I'm just looking for feedback and thoughts.

[2016-10-14 00:17] chriskacerguis opened #249 "Ensure that file/directory layout is conforming to best practices"
Let's make sure that the file/directory layout confirms with the latest best practices from Google / Angular community.

[2016-10-14 20:06] AllenBW opened #251 "Migrate bower + npm to only npm for dependency management"
No reason to have both of these dependency managers around, especially given #245 we stand to gain much from using npm.

This task is broken up into two parts:
- [ ] Transfer bower dependencies to package.json
- [ ] Ensure necessary dependencies are injected into dependency partials (gulp task)

[2016-10-14 23:23] chriskacerguis commented on #251
cc @chalettu @dclarizio @martinpovolny @himdel @AparnaKarve

[2016-10-15 12:52] chriskacerguis commented on #245
Let's move forward with this!  Sending to @chalettu for implementation!

[2016-10-15 12:54] chriskacerguis commented on #224
Going to close this for the time being.  Not really seeing this as an issue, if it becomes a problem we can revisit.

[2016-10-15 12:54] #224 closed

[2016-10-15 12:56] chriskacerguis commented on #239
@serenamarie125 who on your team will be doing this, so I can assign the ticket to them?

[2016-10-15 13:27] serenamarie125 commented on #239
Adding it to me :) for now.  Thanks!

On Saturday, October 15, 2016, Chris Kacerguis <notifications@github.com>
wrote:

--
- Serena Chechile Doyle
*UXD | Unified Management Experience*
*Red Hat*
*Cell* 508-769-7715 | *IRC* - serena | *Skype* - serenamarie125 | *Twitter* -
@serenamarie125

[2016-10-15 13:28] serenamarie125 commented on #239
I meant assign (autocorrection mistake)

On Saturday, October 15, 2016, Serena Doyle <sdoyle@redhat.com> wrote:

--
- Serena Chechile Doyle
*UXD | Unified Management Experience*
*Red Hat*
*Cell* 508-769-7715 | *IRC* - serena | *Skype* - serenamarie125 | *Twitter* -
@serenamarie125

[2016-10-15 16:30] AllenBW commented on #251
So it seems there are a few ways to skin this 😸 .  One is to use yarn, (`yarn install` instead of npm install and bower install) but there are a few issues [presently](https://bower.io/blog/2016/using-bower-with-yarn/).  Another is to completely rip out bower and use a combination of commonjs `require` and webpack/bowerserify to include the bundled assets in index.esj (leaning webpack)

If/when we

[2016-10-15 16:39] chriskacerguis commented on #251
I agree bower is dying. What is your recommendation for how to proceed?

[2016-10-15 16:42] chalettu commented on #251
We can sit down and look at all our current dependencies, see if they are in npm.   We can then look into integrating webpack and the combo above.

[2016-10-15 17:27] AllenBW commented on #251
They are, already checked 🤘🎷🐯

On Oct 15, 2016 12:42 PM, "Chris Hale" <notifications@github.com> wrote:

[2016-10-16 06:53] martinpovolny commented on #251
I wonder if the priority is to get it done here or in the operations UI or both? @himdel?

I started putting together list of tasks related to splitting the various UIs here: https://www.pivotaltracker.com/n/projects/1619601 and the npm migration is among those.

[2016-10-16 09:46] himdel commented on #251
Agreed, we should migrate both, rather soon ideally.  (In fact, I've already started looking into migrating manageiq, and there, we're missing a few dependencies.. `angular-patternfly-sass`, `jquery-1.8`, `jquery.observe_field`, `kubernetes-topology-graph`, `manageiq-ui-components`, `patternfly-timeline`, `spice-html5-bower`, `xml_display` - but I can fix that a bunch of those on Monday,)

As for

[2016-10-16 15:45] chriskacerguis commented on #251
@himdel yeah, going to get @AllenBW and @chalettu to get it done this week (both the npm move and yarn)

[2016-10-16 16:00] AllenBW commented on #251
🤘💪👦🍍🐯

On Oct 16, 2016 10:45 AM, "Chris Kacerguis" <notifications@github.com>
wrote:

[2016-10-17 12:50] himdel commented on #251
...as for yarn vs travis .. found https://twitter.com/kentcdodds/status/786282951210262528 .. may help ..

[2016-10-17 14:48] chriskacerguis commented on #146
In talking with @Fryguy we will need a /ping endpoint for the health check from the UI worker.

[2016-10-17 21:44] #245 closed

[2016-10-18 03:02] serenamarie125 commented on #239
We need to determine if we can do any of this for 4.2.  The depth of the design work will change based on if this is a minimal change for 4.2, or long term for 5.0

[2016-10-18 03:13] serenamarie125 commented on #105
@dtaylor113 In the Ops UI, go to Automate -> Customization.  Then select to the Service Dialogs area of the accordion.  Then click on the Configuration menu and hit Add a new Dialog.  here are a couple more screenshots to show you the current flow
<img width="721" alt="screen shot 2016-10-17 at 10 09 13 pm" src="https://cloud.githubusercontent.com/assets/12504403/19463082/e170b1b4-94b6-11e6-85b2-9

[2016-10-18 03:15] serenamarie125 commented on #105
@chriskacerguis I'd consider this as a bug.  At this point, any service should be "orderable" from the Self Service UI.  This issue blocks that 😺

[2016-10-18 12:58] dtaylor113 commented on #105
Thank you for the information!!!

On Mon, Oct 17, 2016 at 11:13 PM, Serena Chechile Doyle <
notifications@github.com> wrote:

--
Dave Taylor
Principle Software Engineer
(978) 392 - 1016

[2016-10-18 15:05] evenit commented on #105
Thanks Serena for taking the time to explain and do screenshots.
Sorry for not having followed up on this ticket.

2016-10-18 14:58 GMT+02:00 Dave Taylor <notifications@github.com>:

[2016-10-18 15:11] chriskacerguis opened #254 "Update build tasks to publish to use new url schema"
We should be putting things under /ui/service

[2016-10-18 15:12] AllenBW commented on #254
Similar to #147 gonna wrap the rest of that work into this pr

[2016-10-18 15:39] serenamarie125 commented on #100
@jeff-phillips-18 It looks like the DB which you gave has a service like this.

Here's what it looks like in the Ops UI:

<img width="1482" alt="screen shot 2016-10-18 at 10 30 58 am" src="https://cloud.githubusercontent.com/assets/12504403/19484766/5223b084-951e-11e6-92b3-4490c065ec1e.png">

<img width="1483" alt="screen shot 2016-10-18 at 10 33 28 am" src="https://cloud.githubusercontent.com/ass

[2016-10-18 15:52] jntullo commented on #100
@serenamarie125 Yes it is possible to determine if a provisioned service has a child service.

The specs for this are a good place to start for some examples:
https://github.com/ManageIQ/manageiq/blob/master/spec/requests/api/services_spec.rb#L20

the request will be `/api/services/:id/vms`

[2016-10-18 16:08] chriskacerguis opened #259 "Update gulp serve to start MIQ as well"
We need to update the gulp serve task to start MIQ start use the "rails s"

[2016-10-18 16:29] serenamarie125 opened #262 "Need an API to get Compute, Network & Storage items for a provisioned service"
Currently, the Self Service UI is showing just the VMs, so there is an API which is returning that information.  We need APIs to get the information for compute resources, network resources and storage resources.

The above is needed to satisfy the following use case:  When I deploy a service, under My Services I would like my services to break down the items deployed into Compute, Network, Storag

[2016-10-18 16:30] serenamarie125 commented on #262
@

[2016-10-18 16:30] serenamarie125 commented on #262
@jntullo can you look into this?

[2016-10-18 17:19] evenit commented on #100
Well the 'vms' call will get you the virtual machines, not the other kind
of services, like storage, network, generic... If my memory is correct, you
can get children from automation objects with 'children', not sure it
exists in the API.

@serena : how would you see it implemented from a UX point of view ?

Le 18 oct. 2016 5:52 PM, "Jillian Tullo" <notifications@github.com> a
écrit :

[2016-10-18 18:05] chriskacerguis commented on #247
Based on team discussions, we are going to table this until after the F release.

[2016-10-18 18:05] #236 closed

[2016-10-18 18:06] chriskacerguis commented on #236
closing this out, we'll do this in PT.

[2016-10-18 18:06] chriskacerguis commented on #28
@himdel what's the word on a fix for this?

[2016-10-18 18:11] AllenBW commented on #147
@chriskacerguis

We can also close this one now, referenced but didn't close in pr #254

[2016-10-18 18:11] #147 closed

[2016-10-18 18:11] AllenBW commented on #254
@chriskacerguis oops and this one

[2016-10-19 10:56] himdel commented on #28
None so far, not really a priority for me.

[2016-10-19 11:59] chriskacerguis commented on #28
@himdel ok, thanks.  I'll assign this to someone else.

[2016-10-19 11:59] chriskacerguis commented on #28
@AllenBW can you please take a look here.

[2016-10-19 12:00] chriskacerguis commented on #24
@himdel any word on a fix here?

[2016-10-19 12:01] chriskacerguis commented on #105
@dtaylor113 thanks for the fix here!  Well done!!!!!!

[2016-10-19 12:01] #105 closed

[2016-10-19 12:13] AllenBW commented on #28
eeeeek @chriskacerguis, higher priority than removing bower?

[2016-10-19 12:20] chriskacerguis commented on #28
@AllenBW bower, then this.

[2016-10-19 12:25] chriskacerguis commented on #259
Thinking about what @himdel said.  I'm thinking we should revisit this.  Le's adjust gulp serve to NOT start MIQ, and instead let's add a new task that will start both.

[2016-10-19 14:54] himdel commented on #259
Agreed, that makes sense :) Either that, or a way to disable the functionality, via some sort of ENV variable.. but I like a separate task even better :).

And.. the task should probably fail when spawning rails fails..

[2016-10-19 15:20] himdel commented on #24
Oh, sorry, yup, still on my list.

But the fix will be to replace every `$state.go('login')` with essentially something like `document.href = '/ui/service';` (except ideally not hardcoded, etc.)

[2016-10-19 15:32] AparnaKarve commented on #259
I second that. A separate gulp task would be better. No confusion whatsoever.

[2016-10-19 21:57] chalettu commented on #259
I resubmitted this as a new PR https://github.com/ManageIQ/manageiq-ui-service/pull/268.   Feel free to take a look.  It now is a separate gulp task and it accepts a ENV variable that will allow you to override the port that you start Manage IQ on.  I ran our ES Lint rules against the new file and corrected the issues it found. Please feel free to take a look at it.  Thank you all for your input.

[2016-10-20 01:45] #254 closed

[2016-10-21 15:55] chriskacerguis commented on #262
@jntulloNot 100% sure what we need here, can you please add additional issues and use this as a master list of issues?

[2016-10-21 16:02] serenamarie125 commented on #262
This is necessary for the My Service Headings that we discussed earlier in the week :)  @jntullo let me know if you need further clarification.

[2016-10-21 16:03] serenamarie125 commented on #239
@chriskacerguis changes for 4.2 will be minimal.  Jeff is putting up a PR to change embedded tabs to secondary navigation and add delete confirmation dialogs.

[2016-10-21 16:14] chriskacerguis commented on #262
@serenamarie125 yup no worries there, just wanted to know the actual engineering tasks.

[2016-10-21 17:05] jntullo commented on #262
will do @chriskacerguis

[2016-10-21 23:04] chriskacerguis commented on #259
#268 has been merged.

[2016-10-21 23:04] #259 closed

[2016-10-21 23:12] chriskacerguis opened #273 "Add 508 compliance"
Need to add support for 508 compliance in the SUI.

[2016-10-21 23:13] chriskacerguis commented on #273
@AllenBW do you remember where we found that doc on 508 compliance for Jellyfish?

[2016-10-21 23:24] AllenBW commented on #273
eeeeeeeeek a checklist? http://www.hhs.gov/web/section-508/making-files-accessible/checklist/html/index.html

or a tester?  http://www.powermapper.com/products/sortsite/checks/accessibility-checks/

right off hand drawing ... ... ... ⬛️

[2016-10-21 23:25] chriskacerguis opened #274 "Create admin area for SUI to allow for basic skinning / branding"
Let's create an admin area for SUI to allow for basic skinning.  Allow the following:
- [ ] Change logo
- [ ] Change colors (note: which ones?)
- [ ] Compliance message (customizable)
- [ ] Set background on login page (https://bugzilla.redhat.com/show_bug.cgi?id=1388936)

*(Note: there is a "screen" in Classic UI, that allows you to set a lot of things, we should use that API / data as much as we

[2016-10-24 14:16] chriskacerguis opened #280 "Create 508 compliance scanner gulp task"
In support for https://github.com/ManageIQ/manageiq-ui-service/issues/273 we need to add a gulp task that can scan for compliance.

[2016-10-24 14:47] chalettu commented on #280
So people know what I am looking into, I am experimenting with https://github.com/yargalot/gulp-accessibility to see if it could work well to help report on the 508 compliance of our codebase.

[2016-10-24 20:03] chriskacerguis opened #282 "Builds should fail on Linting warnings"
In order to produce cleaned or standardized code I think that on linting errors (Sass lint, Eslint) and warnings Travis or CodeClimate (which ever does the check) should fail.

[2016-10-24 20:03] AllenBW opened #283 "Index.html is getting hashed in build folder"
We do **NOT** want index.html to be hashed in build folder, this issue includes preventing this behavior.

Thanks @h-kataria for noticing this! <3

[2016-10-24 23:41] #283 closed

[2016-10-25 18:13] chriskacerguis commented on #282
This is no longer needed, we will use Hound for this.

[2016-10-25 18:13] #282 closed

[2016-10-25 20:23] chriskacerguis commented on #280
test comment.  ignore.

[2016-10-25 22:14] chriskacerguis opened #292 "Disable CodeClimate Linters"
We should disable the CodeClimate linters (ESLint and SASSLint) and let Hound do that.

[2016-10-25 23:56] chriskacerguis commented on #280
test commetn.

[2016-10-26 19:08] jntullo commented on #262
You are able to get associated service resources via the `service_resources` attribute.
Example call:
`/api/services/10000000000406?attributes=service_resources`

[2016-10-26 19:47] chriskacerguis commented on #24
@himdel want me to assign this to someone else?

[2016-10-27 10:06] himdel commented on #24
@chriskacerguis Up to you, but if you want this done fast, please do feel free to reassign :) (I'm on PTO next week..)

[2016-10-27 14:19] chriskacerguis commented on #273
Since this will no doubt affect UI things, I'm sending to @serenamarie125 for her and her team to review this.

[2016-10-27 21:17] serenamarie125 commented on #273
This is a scary one 👻  We are going through that effort with PatternFly now, so we should be able to take some cues from there!

[2016-10-29 12:56] serenamarie125 opened #300 "Service UI should have the same rebranding abilities as the Classic Ops UI"
There is a lot of chatter on cf-tech as well as from customers per this item.  The service UI should have the same rebranding abilities as the Classic Ops UI.

@chriskacerguis this should be assigned to me initially, and then I can get @dgutride tasked with addressing this, as he has looked into branding previously.

@jonnyfiveiq once this is completed, you should determine how/where the fix shoul

[2016-10-29 13:17] chriskacerguis commented on #300
Yup, that's why I logged it.  That said, before any work is done, it needs to get prioritized, as l suspect it may need API work (no sense of spending resources doing UX if we don't have any for API).

[2016-10-29 13:18] chriskacerguis commented on #300
Actually, closing this.  This is a dup of a previous ticket here:  https://github.com/ManageIQ/manageiq-ui-service/issues/274

[2016-10-29 13:18] #300 closed

[2016-10-31 13:25] jntullo opened #301 "Archive Blueprint API"
Create API to archive and unarchive a blueprint.

[2016-10-31 13:26] jntullo opened #302 "Duplicate Blueprint API"
Copy a blueprint to be used as base for a new blueprint API

[2016-10-31 13:27] jntullo opened #303 "Service Dialogs API"
CRUD on Provisioning Dialogs

[2016-10-31 13:32] dtaylor113 commented on #301
Hi Jillian, I'm afraid I'm out of the loop on this.  Can you give a brief description on what archive and unarchive operations do to a blueprint?  -thanks!

[2016-10-31 17:22] #251 closed

[2016-11-02 12:50] chriskacerguis opened #308 "My Services -> List, # of services is cutoff"
Looks like in the list of services: http://localhost:3001/ui/service/services services with 0 services is cutoff (see screenshot).  I suspect that large numbers are cutoff as well.

<img width="1240" alt="screen shot 2016-11-02 at 7 48 53 am" src="https://cloud.githubusercontent.com/assets/2414647/19929381/10df8030-a0d1-11e6-92a2-25120c305a7b.png">

[2016-11-02 12:53] chriskacerguis opened #309 "My Services List "created date""
The created date is cutoff and I couldn't even tell what it was.  Please move it out of it's own column, and somewhere where it makes sense (and you can read it).

<img width="1258" alt="screen shot 2016-11-02 at 7 51 28 am" src="https://cloud.githubusercontent.com/assets/2414647/19929444/6747ab14-a0d1-11e6-9f45-b3abd84c0eef.png">

[2016-11-02 12:59] chriskacerguis opened #310 "Create a new service catalog"
Need the ability to create a new catalog.  Should be able to set name, description, icon, and assign existing items to it.  This is an option that should only be available to an admin.  Thinking to put it under "Administration" tab as "Catalogs"

[2016-11-02 12:59] chriskacerguis opened #311 "Edit an service catalog"
Need the ability to edit an existing catalog.  Should be able to set name, description, icon, and assign existing items to it.  This is an option that should only be available to an admin.  Thinking to put it under "Administration" tab as "Catalogs"

[2016-11-02 13:00] chriskacerguis opened #312 "List service catalogs"
Need the ability to list all service catalog.  This is an option that should only be available to an admin.  Thinking to put it under "Administration" tab as "Catalogs"

[2016-11-02 13:01] chriskacerguis opened #313 "Add pagination to /ui/service/services"
We need to add pagination to /ui/service/services.  As when the list gets big it is painfully slow.

[2016-11-02 15:24] AparnaKarve commented on #309
@chriskacerguis Unfortunately, we are pretty tight on real estate space here as far as the width of the row goes.
I really attribute this issue to the PF Listview design.
Due to the lack of Column headers we have to specify `"Retires"`,` "Created"`, `"Power State"` on each and every row.
Recently there were 2 new additions : `Chargeback` and `Power State` which has exacerbated the PF Listview issu

[2016-11-02 15:48] chriskacerguis commented on #309
Hello @AparnaKarve thanks for the feedback.  I think I'll have @chalettu rework that entire layout (also have @serenamarie125 take a look too)

[2016-11-03 09:35] evertmulder opened #316 "Profile images not found"
Hi,
when creating a profile the image is not loading (404). The profile image is referenced as:
https://hostname/self_service/assets/images/providers/vendor-vmware_cloud.svg
is should be referenced as
https://hostname/self_service/images/providers/vendor-vmware_cloud.svg

without the assets.

I am testing on euwe-RC1.

[2016-11-03 16:55] chriskacerguis opened #317 "Add polling refresh to all pages"
Seeing various issues where a "refresh" button is being asked for.  All pages in the SUI should have a refresh poller running.

[2016-11-04 00:42] chriskacerguis commented on #316
@AllenBW can you take a look when you get a moment?

[2016-11-04 12:02] AllenBW commented on #316
acknowledged and replicated, working on a fix presently, thanks for bringing this to light @evertmulder 🙇

[2016-11-04 15:18] #316 closed

[2016-11-09 19:15] AllenBW opened #328 "Refactor vertical navigation to support dynamic translations and badge counts"
As identified https://github.com/ManageIQ/manageiq-ui-service/pull/327 [angular-patternfly](https://github.com/patternfly/angular-patternfly) doesn't quite [support translations](https://github.com/patternfly/angular-patternfly/issues/35#issuecomment-1343044070), so the appropriate values must be supplied. If we act on the original navigation list, the ability to go from a second language to a thi

[2016-11-14 15:06] jjlangholtz opened #334 "When logged in as non-admin user, polling requests are made for forbidden resources"
If the currently authenticated user does not have authorization for certain product features (such as **arbitration profiles**, **service dialogs**, and **blueprints**) the application will still attempt to make requests for those forbidden resources.

To reproduce login as a user that does not have permissions for the above named product features and inspect dev console or network tab.

[2016-11-16 13:36] chriskacerguis commented on #317
Moved here: https://www.pivotaltracker.com/story/show/134430901

[2016-11-16 13:36] #317 closed

[2016-11-16 13:37] #100 closed

[2016-11-16 13:37] #145 closed

[2016-11-16 13:37] #146 closed

[2016-11-16 13:37] #193 closed

[2016-11-16 13:37] #239 closed

[2016-11-16 13:37] #262 closed

[2016-11-16 13:37] #273 closed

[2016-11-16 13:37] #274 closed

[2016-11-16 13:37] #280 closed

[2016-11-16 13:37] #292 closed

[2016-11-16 13:37] #301 closed

[2016-11-16 13:37] #302 closed

[2016-11-16 13:37] #303 closed

[2016-11-16 13:37] #310 closed

[2016-11-16 13:37] #311 closed

[2016-11-16 13:37] #312 closed

[2016-11-16 13:37] #313 closed

[2016-11-16 13:37] #328 closed

[2016-11-16 13:46] #247 closed

[2016-11-16 13:47] chriskacerguis commented on #247
Moved here: https://www.pivotaltracker.com/story/show/134431321

[2016-11-16 13:47] chriskacerguis commented on #249
Moved here: https://www.pivotaltracker.com/story/show/134431387

[2016-11-16 13:47] #249 closed

[2016-11-16 13:49] chriskacerguis commented on #308
https://www.pivotaltracker.com/story/show/134431463

[2016-11-16 13:49] #308 closed

[2016-11-16 13:49] chriskacerguis commented on #309
Closing, this is getting reworked in UX

[2016-11-16 13:49] #309 closed

[2016-11-16 13:50] chriskacerguis commented on #309
See here: https://www.pivotaltracker.com/story/show/133840391

[2016-11-16 13:51] chriskacerguis commented on #334
Moved here: https://www.pivotaltracker.com/story/show/134431553

[2016-11-16 13:51] #334 closed

[2016-11-16 13:51] chriskacerguis commented on #28
Moved here: https://www.pivotaltracker.com/story/show/134431583

[2016-11-16 13:51] #28 closed

[2016-11-16 13:53] chriskacerguis commented on #24
Moved here: https://www.pivotaltracker.com/story/show/134431669

[2016-11-16 13:53] #24 closed

[2016-11-16 13:54] chriskacerguis opened #344 "Notice: Issues are tracked in Pivotal Tracker"
All issues are tracked in Pivotal Tracker, located here:

https://www.pivotaltracker.com/n/projects/1914499

All MIQ team members should create their issues there.  Outside people, you are welcome (and encouraged) to create issues here, and I will move them over :)

[2016-11-16 14:47] himdel commented on #328
@chriskacerguis I think this one may need a pivotal story too...

[2016-11-16 14:59] chriskacerguis commented on #328
Story here: https://www.pivotaltracker.com/story/show/134436111

[2016-11-16 16:55] evenit commented on #100
Why was it closed? I don't see any PR associated.

[2016-11-16 16:56] serenamarie125 commented on #100
Agreed @evenit this needs to be addressed.

[2016-11-16 17:28] jntullo commented on #100
@evenit never noticed your original comment. But you are correct, it acts similarly - passing `attributes=all_service_children` to a service will return you all of the service children associated with a service.

[2016-11-16 17:48] evenit commented on #100
@jntullo  Then it should be possible to inspect them. Is there something that shows only the direct children services. This would allow to "dive in" the service progressively, like within a tree.

@serenamarie125 Has someone worked on the UX for this ? I remember we talked about list views and it sounded promising: http://www.patternfly.org/pattern-library/content-views/list-view/#/expanding-rows.

[2016-11-16 17:49] chriskacerguis commented on #100
This was closed, as we moved everything to Pivotal Tracker.

See here: https://github.com/ManageIQ/manageiq-ui-service/issues/344

Your story is located at: https://www.pivotaltracker.com/story/show/134450733

[2016-12-13 13:02] jeff-phillips-18 opened #384 "Switch to use angular-patternfly-sass so patternfly variables are available"
Currently lots of colors are defined that do not follow the patternfly color palette. Mixing patternfly components and custom components gives varying shades of colors. It would be better to use the color variables from patternfly to keep consistency between components.

[2016-12-13 13:37] chriskacerguis commented on #384
Closing.  Tracking here - https://www.pivotaltracker.com/story/show/136027823

[2016-12-13 13:37] #384 closed

[2016-12-16 21:31] miq-bot opened #398 "Fix "Similar code" issue in client/app/components/process-requests-modal/process-requests-modal.factory.js"
Similar code found in 1 other location (mass = 110)

https://codeclimate.com/github/ManageIQ/manageiq-ui-service/client/app/components/process-requests-modal/process-requests-modal.factory.js#issue_58545ccdb479c5000100018b

[2016-12-16 22:26] chriskacerguis commented on #398
Moved to PT: https://www.pivotaltracker.com/n/projects/1914499/stories/136284349

[2016-12-16 22:26] #398 closed

[2016-12-21 15:16] chriskacerguis opened #404 "Bot Test - IGNORE"

[2016-12-21 15:17] chriskacerguis commented on #404
@miq-bot add_label bug

[2016-12-21 15:18] #404 closed

[2017-01-27 16:11] #344 closed

[2017-02-06 22:07] evenit opened #497 "Dialog field visibility is not honored on dynamic fields in Service UI"
When creating dialogs with dynamic fields, programmatic visibility works as expected in the Classic UI, but not in the Service UI. For example, I create a dialog with two fields: one drop down with 'Yes' and 'No' as values and one dynamic text box. The drop down is configured to refresh other fields and the text box is auto refreshed. The code for the dynamic text box is a one liner:

[code]

I th

[2017-03-23 21:20] chriskacerguis commented on #497
Tracking here: https://www.pivotaltracker.com/story/show/139238997

[2017-03-29 19:15] chriskacerguis commented on #497
This was addressed with https://github.com/ManageIQ/manageiq-ui-service/pull/587

[2017-03-29 19:15] #497 closed

[2017-04-05 19:30] ITD27M01 opened #640 "Service UI (SUI) Kerberos SSO"
Hi guys. I have configured ManageIQ appliance for external httpd auth from this guide: http://manageiq.org/docs/reference/latest/auth/active_directory
I turned on "Enable Single Signon" checkbox and have simple access to Classic UI. Is there any way to enable it for the Service UI? I think it will be a killer feature for the end users.

[2017-04-05 19:32] chriskacerguis commented on #640
So, the SUI is just a consumer of the MIQ API, so all we do is pass the credentials to the API.  So by enabling it there, whatever it supports we support.

[2017-04-05 19:42] ITD27M01 opened #641 "Service UI cockpit button redirects to IP instead of hostname or fqdn."
The cockpit button for the instance of the deployed service redirects to the ip address of the instance. This redirection causes certificate warning and does not allow SSO authentication in a domain environment. I understand that in order to guarantee the connection you want to exclude third-party technologies such as DNS. But maybe I can do something to change this behavior for my environment ?

[2017-04-05 19:47] chriskacerguis commented on #641
If you would like to change it in your environment, you can change this line of code:

https://github.com/ManageIQ/manageiq-ui-service/blob/90081938e2e02a4b781b52e1f92933726e4e7441/client/app/services/service-details/service-details.component.js#L332

to reference the hostname and not the IP address.  That said, I don't know if MIQ will necessarily know the hostname in all scenarios.

[2017-04-05 19:47] #641 closed

[2017-04-05 19:48] ITD27M01 commented on #640
@chriskacerguis  I have access to Classic UI trough SSO - just enter link to browser and auto login. But if I access /self_service URL there is login/password prompt and no auto login to interface.

[2017-04-05 19:51] chriskacerguis commented on #640
Hmmm...not sure where the issue could be (API vs. SUI).

@jjlangholtz any thoughts here?

[2017-04-05 20:03] jjlangholtz commented on #640
I know prior to https://github.com/ManageIQ/manageiq-ui-service/pull/528 this just did not work at all. Are you using the latest errata release?

Other than that I'm not sure. I know there were some recent discussions around groups and permissions but I'm not sure whether that applies here either.

[2017-04-06 07:16] ITD27M01 commented on #640
@jjlangholtz
I use euwe-2 and tried to pull to latest commit (#642) but no effect. But it seems that this commit has solved my issue with pop-up tooltip :)

[2017-04-06 07:48] ITD27M01 commented on #641
@chriskacerguis I have not found the path specified in euwe-2, as I understand it, the path is for darga.
https://github.com/ManageIQ/manageiq-ui-service/tree/euwe/client/app/services

[2017-04-06 08:14] ITD27M01 commented on #641
@chriskacerguis Found it in client/app/services/consoles.service.js

[2017-04-07 21:01] ITD27M01 opened #655 "Dynamic dropdown list does not show data at startup"
Hi Guys.
Two more cents from me.

In SUI when ordering the service, dynamic drop-down list does not want to show the values at startup. The value is loaded but the first line is blank until I click on the drop-down list.

![image](https://cloud.githubusercontent.com/assets/3703483/24819378/0832709a-1bed-11e7-9799-7bd57b8c280b.png)

![image](https://cloud.githubusercontent.com/assets/3703483/248196

[2017-04-07 22:30] chriskacerguis commented on #655
The blank is there by design, so dynamic dropdown work correctly.

[2017-04-07 22:30] #655 closed

[2017-04-08 08:31] ITD27M01 commented on #655
@chriskacerguis  Hello, Thank You for reply.
It's a bit confusing for me and my users. In a yaml configuration of dialogs there is a setting "default_value" and apparently SUI do not use it. By design could be an empty string in the dropdown list without a default value, but when you want to use the default values, drop down list should show this default value and not a null value.
You need to tak

[2017-04-11 11:20] ITD27M01 opened #663 "Dynamic dropdown list does not show default_value"
Hi guys.
In SUI when ordering the service, dynamic drop-down list does not want to show the default_value at startup. The value is loaded but the first line is blank until I click on the drop-down list.
I try to curl my dialog and have this output:
[code]
Here you can see a variable called default_value. The classic interface uses this value while the SUI does not use.

![image](https://cloud.gith

[2017-04-11 11:27] etroitskiy commented on #663
I have the same problem. I think there must be a default value. Otherwise it confuses users.

[2017-04-11 12:55] chriskacerguis commented on #663
Isn't this the same issue here? https://github.com/ManageIQ/manageiq-ui-service/issues/655

[2017-04-11 13:06] ITD27M01 commented on #663
Hi @chriskacerguis This is a more detailed and specific about the default_value.

[2017-04-14 12:55] chriskacerguis commented on #663
BZ Here: https://bugzilla.redhat.com/show_bug.cgi?id=1442383

Closing this issue.

[2017-04-14 12:55] #663 closed

[2017-04-14 12:56] chriskacerguis commented on #640
@gtanzillo Any thoughts on this?  We are using the token auth, so not sure why this isn't working.

[2017-04-17 04:13] gtanzillo commented on #640
@chriskacerguis I'd also expect this to work. Both the classic UI and SUI use the API for logon. If SSO is working properly with the classic UI, I'd expect it to work with the SUI. @abellotti, any ideas?

[2017-04-17 11:30] chriskacerguis commented on #640
@martinpovolny or @himdel for login to the Classic UI, do you all use the token method?  I know there are 2 login methods (token, and the more "classic" way).

[2017-04-17 11:30] chriskacerguis commented on #640
/cc @dclarizio ^

[2017-04-17 11:33] abellotti commented on #640
Not necessarily, API entrypoint in Apache supports logging in with external auth credentials, (ldap/ipa/ad), but not SSO.  Kerberos SSO was never implemented for self-service, it is handled via browser SPNEGO protocol and dealt with via the /dashboard/kerberos_authenticate directive in the Apache config, so right now only for classic UI.  Kerberos and SAML logic in the classic UI controller have s

[2017-04-17 11:35] chriskacerguis commented on #640
Thanks @abellotti

[2017-04-17 15:37] chriskacerguis commented on #640
Tracking this here: https://www.pivotaltracker.com/story/show/143796185

[2017-04-19 11:51] ITD27M01 opened #686 ""Multiselect" DropDown does not work in SUI"
Hi guys.
The "multiselect" options for DropDown list does not work in SUI. I cannot select multiple values for this type of element form SUI but can do it from classic ui:
Screen frim Classic UI:
![image](https://cloud.githubusercontent.com/assets/3703483/25178505/b195b2d0-250e-11e7-82ab-e86c145f4dc3.png)
Screen from SUI:
![image](https://cloud.githubusercontent.com/assets/3703483/25178657/74f1b4f

[2017-04-19 14:50] AllenBW commented on #686
Whattup @ITD27M01 !  ok so off the bat, from where are you accessing the multiselect dropdown?

this matters because it might be an issue better suited for https://github.com/ManageIQ/ui-components

[2017-04-19 15:36] ITD27M01 commented on #686
Hi @AllenBW I'm trying to set up a dynamic dialog for the service. One of the elements of such a dialog is a drop-down list with multiselect parameter.

[2017-04-19 19:25] chriskacerguis commented on #686
Hello @ITD27M01,

Where are you accessing the multiselect dropdown?

[2017-04-20 10:03] ITD27M01 commented on #686
@chriskacerguis
From SUI during Service Request. Service have dynamic dialog with dropdown element with "multiselect" option:
![image](https://cloud.githubusercontent.com/assets/3703483/25225309/a7819a46-25c9-11e7-912c-85c525ea12c5.png)

[2017-04-20 11:18] chriskacerguis commented on #686
Yeah, I think this needs to go to https://github.com/ManageIQ/ui-components

[2017-04-20 11:41] #686 closed

[2017-04-24 16:31] chriskacerguis commented on #640
Waiting for: https://www.pivotaltracker.com/n/projects/1610125/stories/144136505

[2017-05-03 03:04] serenamarie125 opened #733 "Dashboard is missing information on Orders"
The Dashboard no longer includes information on Orders/Requests

[2017-05-03 03:05] serenamarie125 opened #734 "Orders should be "My Orders""
<img width="257" alt="screen shot 2017-05-02 at 11 05 05 pm" src="https://cloud.githubusercontent.com/assets/12504403/25646969/e034afec-2f8b-11e7-9472-2815b61a9e22.png">

[2017-05-03 03:07] serenamarie125 opened #735 "Users should be able to click anywhere on the row to drill down on a service"
Users should be able to click anywhere on the row to drill down on a service.  This behavior has been changed from the previous release.  Now you can only drill down by clicking on the service name, this decreases usability.

[2017-05-03 15:11] chriskacerguis commented on #733
Tracking here: https://www.pivotaltracker.com/story/show/144790887

[2017-05-03 15:11] #733 closed

[2017-05-03 15:12] chriskacerguis commented on #734
Tracking here: https://www.pivotaltracker.com/story/show/144790949

[2017-05-03 15:12] #734 closed

[2017-05-03 15:13] chriskacerguis commented on #735
Tracking here: https://www.pivotaltracker.com/story/show/144791027

[2017-05-03 15:13] #735 closed

[2017-05-03 16:00] chriskacerguis commented on #734
Resolved by PR #736

[2017-05-03 17:31] chriskacerguis commented on #735
Resolved with PR: https://github.com/ManageIQ/manageiq-ui-service/pull/737

[2017-05-03 21:01] chriskacerguis commented on #733
Resolved by https://github.com/ManageIQ/manageiq-ui-service/pull/738

[2017-05-15 14:50] chriskacerguis commented on #640
BZ RFE: https://bugzilla.redhat.com/show_bug.cgi?id=1451012

[2017-07-22 09:50] skateman opened #850 "Include icons provided by font-fabulous"
@epwinchell created a custom fonticon set for our needs. As we want to support [fonticons on custom buttons](https://github.com/ManageIQ/manageiq-ui-service/pull/851), we need this iconset to be included in the SUI.

You can find the repo here: https://github.com/ManageIQ/font-fabulous
There is (untested) support for npm/yarn, but we haven't pushed any versions yet.
If you need a version or some e

[2017-07-25 16:15] meng-tian opened #853 "how to change custom brand programmatically?"
Description of problem:

I know we can change the custom logo through web UI. But can we change the custom logo programmatically? i.e., save a image while deploying the instance without manually upload through the web UI.

[2017-07-25 16:23] chriskacerguis commented on #853
You could just change the appropriate image in: client/assets/images

The README here has more in depth info: https://github.com/ManageIQ/manageiq-ui-service/tree/master/skin-sample

[2017-07-25 16:31] meng-tian commented on #853
I tried but it does not have any effect. Do I need to recompile or clear cache?

[2017-07-25 17:17] chriskacerguis commented on #853
What version are you running?

[2017-07-25 19:11] meng-tian commented on #853
fine-2

[2017-07-25 19:39] chriskacerguis commented on #853
sounds like it is hitting the webpack cache, so you would need to rebuild.

[2017-07-25 19:44] meng-tian commented on #853
I tried to use the `yarn build` (I followed the README page you provided), still no effect.

[2017-07-27 23:07] AllenBW commented on #850
Closed by#851 and #854

[2017-07-27 23:07] #850 closed

[2017-07-28 08:35] meng-tian commented on #853
Anyone help?

[2017-07-28 11:33] AllenBW commented on #853
Hi @meng-tian !  If you want to add you own custom login logo and custom logo try dropping the file s in the highlighted folder.  Be mindful of the filenames 🌮 🌞 🎵
<img width="328" alt="screen shot 2017-07-28 at 7 32 42 am" src="https://user-images.githubusercontent.com/6640236/28715640-f8fde484-7366-11e7-9800-58632e316719.png">

[2017-07-31 08:23] meng-tian commented on #853
Thanks for you reply @AllenBW . I tried your method and I can see the custom logo in `Configuration -> Server -> Custom Logos` has changed. However, the upright corner logo and login page logo is still using the old logo. Restarted the httpd but does not help.

Do I need to clear the cache or recompile?

[2017-07-31 11:26] AllenBW commented on #853
@meng-tian ahh looks like the work to get custom_logo/brand into the sui didn't make it in to fine-2, https://github.com/ManageIQ/manageiq-ui-service/pull/769.  Apologies, shoulda checked that to boot, explains why you see nothing :-/

[2017-08-03 12:48] #853 closed

[2017-08-22 16:55] chriskacerguis opened #882 "SUI specific RBAC list"
The current RBAC system feature list doesn't map well to the SUI; and in various chats with SUI parties we really need to expand the system, however that's going to take more time and resources (e.g. we will need Ops UI work to "control" the RBAC).

So, I'd like to propose the following:

1.  As we build out the new UX we "attach" a new "feature" to each and everything.
2.  We will build an abstra

[2017-08-22 16:56] chriskacerguis commented on #882
/cc @Loicavenel @gtanzillo @Fryguy @gmcculloug @dclarizio @AllenBW

[2017-08-22 17:11] dclarizio commented on #882
We can (and do) do this in existing RBAC, unless I don't fully understand.

This is because we want to try to keep using the OPS service features for SUI?

Not sure what backend/OPS UI work you mean, adding the RBAC features?  Because that's quite simple actually.

Another proposal . . . how about we simply make a Service UI section in the existing RBAC that more closely matches the features requi

[2017-08-22 17:24] chriskacerguis commented on #882
So, what I mean is brand new feature "names" not trying to sledgehammer existing ones.

I didn't want to create work that cannot be done this release for other teams.

Yes, I wasn't sure how to add new features.

That's what I would like to do in the long run, the abstraction layer was how do we get from where we are at today to a new set of features without creating lots of work outside the team.

[2017-08-22 18:10] AllenBW commented on #882
Yes please to a `UI/Service` section in existing RBAC.  This'll save the "guessing which feature does what in the service ui" for admins everywhere also make gating functionality easier for the devs (no more trying to map functionality against in place permissions).  As in intermediary, an abstraction layer that maybe "bulk" maps functionality makes sense.  Ultimately, who do we gotta see about ge

[2017-08-22 20:04] dclarizio commented on #882
@AllenBW as long as we follow the pattern with the low level grouping, like having the View/Operate/Modify sub-trees so the admins can easily turn on sets of features, I see no reason not to add a new top level section called "Service UI" (feature ID sui).  Perhaps all sub features below that will be sui_*.  If we can map them all out, we can add them prior to adding the checks, since no one will

[2017-08-24 02:46] jonnyfiveiq commented on #882
absolutely the ServiceUI should be in RBAC, and this should be configured in the RBAC control in the OpsUI.

thanks

Many Thanks,

JOHN HARDY
CLOUDFORMS
SENIOR PRINCIPAL PRODUCT MANAGER
Red Hat
jhardy@redhat.com    M: +44-(0)7770-676866
www.cloudformsnow.com <http://www.cloudformsnow.com/>
TRIED. TESTED. TRUSTED.

[2017-08-24 06:40] Loicavenel commented on #882
Here is a write-up on the subject.. https://docs.google.com/document/d/10p69nnTT7dG0hnCBCJkcapjlxVd08J0A2QRX054B_08/edit

[2017-08-30 12:13] chriskacerguis commented on #882
Tracking here: https://www.pivotaltracker.com/story/show/150671272

[2017-08-30 14:30] chriskacerguis opened #896 "Move to Redux for state management"
We implement Redux for state management within the service UI in order to facilitate the UIs working more closely together.

BZ: https://bugzilla.redhat.com/show_bug.cgi?id=1502778

[2017-09-10 16:22] chriskacerguis opened #923 "Add patterns for "Scripts to Rule Them All" support"
I would like to leverage GitHub's "Scripts to Rule them All" pattern.  More info here:

https://github.com/github/scripts-to-rule-them-all

[2017-09-11 14:24] chriskacerguis opened #926 "angular-ui-router@1.0.3: has changed '@uirouter/angularjs'"
Description of problem:

When running npm install on a fresh install, seeing the following error:  npm WARN deprecated angular-ui-router@1.0.3: This npm package 'angular-ui-router' has been renamed to '@uirouter/angularjs'. Please update your package.json

How reproducible:

100%

Steps to Reproduce:
1. git clone [repo]
2. Type ```npm install```

[2017-09-11 14:31] chriskacerguis opened #927 "I want to be able to re-configure CPU, Memory and add/delete disks"
I want to be able to re-configure CPU, Memory and add/delete disks; it should have the same experience per provider

BZ: https://bugzilla.redhat.com/show_bug.cgi?id=1497724

[2017-09-11 14:32] chriskacerguis opened #928 "Save console log errors to disk"
Save console log errors to disk so that support could forward them to us more easily. Maybe call it the sui.log?

[2017-09-11 14:33] chriskacerguis opened #929 "As a user, I want to see quick system stats for a resource by expanding the line"
I want to see events of last Day at Service Level for all resource by simply expanding the resource line

<img width="632" alt="screen shot 2017-09-11 at 11 56 35 am" src="https://user-images.githubusercontent.com/2414647/30284230-5424227a-96e8-11e7-9eb0-6f8145bf1bc2.png">

BZ: https://bugzilla.redhat.com/show_bug.cgi?id=1497723

[2017-09-11 14:35] chriskacerguis opened #930 "Power Operations are fixed and should be link to the type of resources"
Power Operations are fixed and should be link to the type of resources… Power Operations are different on Vmware and OpenStack for example.

[2017-09-11 14:37] chriskacerguis opened #931 "Rework Resource Details Level page per the new UX design"
I want to see most of the details on one page.  We will need to Update Resource page to new UX

<img width="979" alt="screen shot 2017-09-11 at 11 04 01 am" src="https://user-images.githubusercontent.com/2414647/30281889-a2242f62-96e1-11e7-8dfa-1444daec1e80.png">

<img width="628" alt="screen shot 2017-09-11 at 11 54 51 am" src="https://user-images.githubusercontent.com/2414647/30284330-9ef8afa0-9

[2017-09-11 14:47] AllenBW commented on #931
https://github.com/ManageIQ/manageiq-ui-service/pull/920 pr for reference

[2017-09-11 14:54] AllenBW opened #932 "FF Icons Not showing up"
Description of problem:
Only seeing unicode

Expected results:
Want to see the icons

[2017-09-11 15:45] #932 closed

[2017-09-11 15:46] chriskacerguis opened #934 "Show details of Generic Objects at the Service Level"
As a user, I should be able to see details of a Generic Object at the Resource Level

<img width="634" alt="screen shot 2017-09-11 at 11 58 02 am" src="https://user-images.githubusercontent.com/2414647/30284298-828c2586-96e8-11e7-8f99-57fe6288dcb2.png">

BZ: https://bugzilla.redhat.com/show_bug.cgi?id=1497705

[2017-09-11 15:47] chriskacerguis opened #935 "For every element add a help button with a description"
I want to see an help button for every element with a description, then I can use with my mouse over to get information

[2017-09-11 15:48] chriskacerguis opened #936 "Resource level is in Power Operations, it should be in Life Cycle Management"
Retire at Resource level is in Power Operations, it should be in Life Cycle Management.

[2017-09-11 15:50] chriskacerguis opened #937 "When I duplicate an existing order I want to be able to modify dialog inputs"
As a user, when I duplicate an existing order I want to be able to modify dialog inputs

[2017-09-11 15:52] chriskacerguis opened #938 "Branding should match in the Ops UI and in the Service UI"
As a user, I want to see the branding set (custom logo, background, etc) in the Ops UI, in the Service UI

BZ: https://bugzilla.redhat.com/show_bug.cgi?id=1497726

[2017-09-11 17:57] chriskacerguis opened #939 "Events at the Resource Details Level and drill down to more details information"
As a user, I want to see Events at the Resource Details Level and drill down to more details information by changing time, history etc.

BZ: https://bugzilla.redhat.com/show_bug.cgi?id=1497721

[2017-09-11 18:00] chriskacerguis opened #940 "Add popup utilization graph at the Resource Details Level"
As a user, I want to see utilisation graph at the Resource Details Level and I can drill down to more details information by changing time, duration, etc

<img width="628" alt="30284330-9ef8afa0-96e8-11e7-9def-15d8b97237bd" src="https://user-images.githubusercontent.com/2414647/30289240-82ac8392-96f9-11e7-8724-46f6bb1bbecd.png">

[2017-09-11 18:08] chriskacerguis opened #941 "Events at the Resource Details Level and drill down to more details"
As a user, I want to see Events at the Resource Details Level and drill down to more details information by changing time, history etc.

[2017-09-11 18:47] chriskacerguis opened #942 "Ability to open events UI of a resource at Service Level"
As a user, I want to be able to open events UI of a resource at Service Level

BZ: https://bugzilla.redhat.com/show_bug.cgi?id=1497721

[2017-09-11 19:06] chriskacerguis opened #943 "Ability to see last event at Service Level for all resource by expanding resource line"
Ability to see last event at Service Level for all resource by simply expanding the resource line

BZ: https://bugzilla.redhat.com/show_bug.cgi?id=1497719

[2017-09-11 19:08] chriskacerguis opened #944 "Cross provider re-configure of CPU, Memory and add/delete disks"
As a user, I want to be able to re-configure CPU, Memory and add/delete disks. I should have the same experience per provider.

[2017-09-11 19:09] chriskacerguis opened #945 "Add RBAC to "App Launcher""
Add RBAC to "App Launcher" in Self Service UI to enable / disable access

BZ: https://bugzilla.redhat.com/show_bug.cgi?id=1497732

[2017-09-11 19:12] chriskacerguis opened #946 "Ability to see details of Compliance last status by clicking on compliance details"
As a User, I should see details of Compliance last status by clicking on compliance details on the VM details screen

BZ: https://bugzilla.redhat.com/show_bug.cgi?id=1497717

[2017-09-11 19:13] chriskacerguis opened #947 "Traverse SmartState Details by clicking on items like User, Group, Applications"
I should see SmartState Details in VM Details by clicking on items like User, Group, Applications.

BZ: https://bugzilla.redhat.com/show_bug.cgi?id=1497715

[2017-09-11 19:30] chriskacerguis opened #948 "I only want to see buttons if certain condition exist"
As a user, I only want to see buttons if certain condition exist.  Buttons should exist in 3 states:

- Totally hidden (not returned by API)
- Shown
- Shown but disabled with message

[2017-09-11 20:02] chriskacerguis opened #949 "I should see the help toolbar links that the admin has setup"
Allow the toolbar links to be customized by the admin

BZ: https://bugzilla.redhat.com/show_bug.cgi?id=1497727

[2017-09-11 20:49] chriskacerguis commented on #943
@serenamarie125 I couldn't find a wireframe that had this on it.  Could you give me a hint as to where to find it?

/cc @Loicavenel

[2017-09-11 20:56] chriskacerguis commented on #944
Dup of https://github.com/ManageIQ/manageiq-ui-service/issues/927

[2017-09-11 20:56] #944 closed

[2017-09-11 20:57] chriskacerguis commented on #948
Awaiting backend from @ManageIQ/core-api

[2017-09-11 20:58] chriskacerguis commented on #935
Awaiting backend from @ManageIQ/core-api

[2017-09-11 20:58] chriskacerguis commented on #938
Awaiting backend from @ManageIQ/core-api

[2017-09-11 20:58] chriskacerguis commented on #934
Awaiting backend from @ManageIQ/core-api

[2017-09-11 20:59] chriskacerguis commented on #949
Awaiting backend from @ManageIQ/core-api

[2017-09-11 21:00] chriskacerguis commented on #937
@serenamarie125 I found a Google Doc that was not complete regarding this.  Do we need a wireframe, or should we just re-prompt with the current dialog system and the fields filled in?

/cc @Loicavenel

[2017-09-11 21:32] Loicavenel commented on #935
@chriskacerguis does it really requires a new API? It is going to be part of Dialogs, do we not get all Dialogs parameters already?

[2017-09-11 21:45] chriskacerguis commented on #935
We need an addition to the existing api that has the new help data

[2017-09-12 03:00] serenamarie125 commented on #943
@Loicavenel 2 questions
1 - would this just be for VMs or Generic Objects too?  To date we have only designed expandable list views for these 2 resource types.
2 - what's necessary to display, timestamp & message?

[2017-09-12 12:23] chriskacerguis commented on #942
@serenamarie125 I know we talked about this, and I know there **is** a screen for this, but I couldn't find it.  Could you please re-send it to me?

[2017-09-12 12:26] chriskacerguis commented on #927
(note this is not in scope for the G release)

[2017-09-12 12:47] chriskacerguis commented on #947
(not in scope for G release)

[2017-09-12 12:48] chriskacerguis commented on #946
(not in scope for this release)

[2017-09-12 12:49] chriskacerguis commented on #941
@AllenBW do we have a wireframe for this?

[2017-09-12 12:56] AllenBW commented on #941
[from here we have this: ](https://docs.google.com/document/d/1kvWtq4xFX4Upqm5dfws8g6Z4OxBOzwjBH3hmIv608cc/edit#heading=h.kcee6dc8myrz)
<img width="643" alt="screen shot 2017-09-12 at 8 55 55 am" src="https://user-images.githubusercontent.com/6640236/30326945-475d9886-9798-11e7-920f-f4d81afd8b90.png">

[2017-09-12 13:47] serenamarie125 commented on #937
@chriskacerguis doc has been updated and approved by @Loicavenel ... let me know if you have any questions
https://docs.google.com/document/d/16A3j1FYwnCIDppLDB3-lB7cfzcDWOfFlCRy5_b47clg/

[2017-09-12 14:02] serenamarie125 commented on #942
@chriskacerguis when going to a service, and selecting a VM, you are able to see the timeline view. This should be sufficient as far as I am aware.
Documentation for the VM Detail view can be found here: https://docs.google.com/document/d/1kvWtq4xFX4Upqm5dfws8g6Z4OxBOzwjBH3hmIv608cc/

[2017-09-12 18:39] serenamarie125 commented on #939
@chriskacerguis Take a look at this doc: https://docs.google.com/document/d/1kvWtq4xFX4Upqm5dfws8g6Z4OxBOzwjBH3hmIv608cc/

You should be able to click on the View All link in the Timeline card, and go to a full blown timeline view for the VM

[2017-09-12 18:47] chriskacerguis commented on #942
Hi @serenamarie125 apologies, I'm confused.  Loic's requirement is asking for the Service Level, whereas what you said appears to be the resource level (but, maybe I'm having a bad case of the dumb today).

@Loicavenel could you please clarify if which direction you want to go?  Is the Resource level sufficient or do we need to have this at the Service Level (we scoped this requirement with the AP

[2017-09-12 18:49] chriskacerguis commented on #939
@serenamarie125 is the "full blown timeline view" a new page?  If so, do we have a wireframe of what that page will look like?

[2017-09-13 03:38] Loicavenel commented on #942
@serenamarie125 and @chriskacerguis Ok, I think I remember it and I understand the confusion here. What is confusing is "resource" in the title.
If you go to a resource, you have a timeline here with a limited item power... you should be able to for to the classic timeline with full option.
I think the discussion we have was to see a Timeline at Service Level for all resources like an aggregation

[2017-09-13 12:17] chriskacerguis commented on #942
@Loicavenel there is no API, it will need to get built, but it is "on the schedule".  So, if we don't want to go in that direction, I'll let the API team know.

[2017-09-13 13:33] chriskacerguis commented on #939
Per lined add by @serenamarie125 to the above Google doc:

Screenshots from Ops UI:

<img width="1059" alt="screen shot 2017-09-13 at 9 30 40 am" src="https://user-images.githubusercontent.com/2414647/30380033-6c9278f0-9866-11e7-8b74-abcb6510b65c.png">

<img width="1048" alt="screen shot 2017-09-13 at 9 31 10 am" src="https://user-images.githubusercontent.com/2414647/30380046-72b1139a-9866-11e7-9a

[2017-09-13 13:33] Loicavenel commented on #942
@chriskacerguis I think we need this API, I want to make sure we are talking about the same thing, this API will provide all Events for a Service?

[2017-09-13 13:35] chriskacerguis commented on #941
Dup of https://github.com/ManageIQ/manageiq-ui-service/issues/939

[2017-09-13 13:35] #941 closed

[2017-09-13 13:36] chriskacerguis commented on #942
@serenamarie125 should we just use the same screen from here (just will all the Service Level data)

[2017-09-13 13:37] serenamarie125 commented on #939
@chriskacerguis yes

[2017-09-13 13:38] chriskacerguis commented on #940
@serenamarie125 and @Loicavenel how does a user change the date / time range for this?

[2017-09-13 13:41] chriskacerguis commented on #942
@Loicavenel Yes, this API will provide a roll up of all events for resources in the service.

[2017-09-13 13:43] serenamarie125 commented on #942
@Loicavenel i was under the impression that we dropped this requirement.  If not, we need to think this through ... from a requirements perspective.

[2017-09-13 14:20] Loicavenel commented on #942
@serenamarie125 We need Events Timeline at the resource (VM here) level and I think we are on an agreement here, user will go to VM detail where he will see a timeline for Power Event, he will be able to click on "View All" that will open the "full" time line view for this VM.

The other requirement here is to have a Timeline view for all VMs in the Service... We don't want to have an option for u

[2017-09-13 14:22] Loicavenel commented on #942
It is not mandatory for 4.6

[2017-09-13 15:30] chriskacerguis commented on #942
/cc @gtanzillo

[2017-09-13 19:34] chriskacerguis commented on #934
@serenamarie125  Something that came up is that there is no way to see tags associated with the generic objects via the Service UI.

@bascar is that something we should add?

/cc @Loicavenel

[2017-09-13 19:36] chriskacerguis commented on #943
@Loicavenel ping :)

[2017-09-13 19:38] bascar commented on #934
@chriskacerguis agreed, should be like vm detailed view tag control. @serenamarie125 can you please add this.

[2017-09-13 20:19] Loicavenel commented on #943
@serenamarie125

1 -  We are not getting any event for Generic Object then it is not needed.
2 - Message and Time stamp will be enough

[2017-09-14 15:52] chriskacerguis opened #964 "Move to Jest for for testing"
Should we use Jest for testing?

https://facebook.github.io/jest/

Thoughts @ohadlevy @martinpovolny @AllenBW @himdel @ManageIQ/core-ui-classic

[2017-09-18 20:08] chalettu commented on #934
@serenamarie125 I had a few questions about the mockup for this request.  In the picture above we see a "g" icon used for each generic object.  Is this an icon we have available that we are wanting to use to represent generic objects?  I looked in patternfly and couldn't find it.  I also wanted to see if you could help elaborate on what menu actions are expected to exist for that Kebab menu that i

[2017-09-18 20:20] Loicavenel commented on #934
@chalettu Menu Actions are completely dynamic and will come from the API

[2017-09-18 21:45] AllenBW opened #978 "Collections-api service query building is not sustainable"
Description of problem:
Function with a bunch of if's and object key references isn't a sustainable way to handle building queries as new methods become available.

This needs to be refactored into something a lil more maintainable, hence this ticket

[2017-09-19 11:48] #978 closed

[2017-09-19 12:12] chriskacerguis opened #985 "Investigate moving to TypeScript"
Keeping with the UI-Components repo, wondering if we should moving the SUI to use TypeScript?

Thoughts @ohadlevy @martinpovolny @AllenBW @himdel @ManageIQ/core-ui-classic

[2017-09-19 12:25] AllenBW commented on #985
So you thinking a side by side thing? JS and TS?  Imma kinda against it either way, love staying pure to JS, who remembers coffeescript (don't answer that, and yes I know 2.x came out recently)? Not saying TS is bad, it has many uses, but the only reason I see for moving the SUI over to TS is for unity of UIs, but lets face it, thats kinda impossible without a full rewrite of both (though I would

[2017-09-19 13:59] #926 closed

[2017-09-19 15:13] martinpovolny commented on #985
The OPS UI is just enabling TypeScript, not enforcing it.

The SUI contributors are a small group of experienced developers and there already is a code structure, culture and standards that are sort of enforced.

I'd say that there's probably no immediate benefit from moving SUI to TypeScript.

Especially if all the developers are happy with javascript I see no reason to enforce TypeScript ;-)

[2017-09-19 16:22] chalettu commented on #985
I agree with @martinpovolny on no immediate benefit.  Just so it's on record, it has been enabled in SUI and we could be writing in Typescript.  We haven't tested it in the SUI lately but it should be working.  I don't see a benefit to moving currently.  If we migrate to a newer framework we should most definitely revisit this discussion though as it impacts coding style.

[2017-09-19 20:34] chriskacerguis commented on #985
@martinpovolny sure, I guess I was just wondering if (thinking way down the road) moving to TypeScript is something that would help us merge the UIs.  What do you think?

[2017-09-21 11:06] martinpovolny commented on #985
@chriskacerguis : I am not presently contributing to that code so I don't have any strong opinion. I'd leave this to @chalettu and @AllenBW. From my perspective it is not needed. Especially if it is actually possible to write in Typescript as @chalettu wrote above, I don't see a reason to change anything at this point.

[2017-09-21 14:42] AllenBW opened #997 "Apply visibility controls to custom buttons"
integrate the work done here https://github.com/ManageIQ/manageiq/pull/15911#event-1256342779

[2017-09-21 15:29] bascar commented on #934
@chalettu see ManageIQ/manageiq#16006 as relates to the picture question above. Sorry posted this on the wrong issue earlier

[2017-09-21 16:14] chriskacerguis commented on #934
Here's the design doc

https://docs.google.com/a/redhat.com/document/d/1oBVIJNk-X_XoUDun2RHpg2Hp0Sp6ljwPrGxGlV0UyfE

[2017-09-21 18:44] chalettu opened #999 "Create and display a git SHA for the current SUI Build"
Description of problem:  Currently the SUI does not package and display a GIT SHA that is indicative of current version of code that is part of a build.

How reproducible:

Steps to Reproduce:
1.
2.
3.

Actual results:

Expected results:

Additional info:  I think this should be added into our webpack build steps.  We should run something that generates that GIT SHA and saves it to a JSON file.  T

[2017-09-25 14:42] AllenBW opened #1002 "BZ#1486224 - Change user's current group via API"
https://bugzilla.redhat.com/show_bug.cgi?id=1486224
https://github.com/ManageIQ/manageiq-api/pull/44

[2017-09-25 15:55] chriskacerguis commented on #1002
This issue isn't needed, just reference those in the PR

[2017-09-25 15:55] #1002 closed

[2017-09-25 15:57] chriskacerguis commented on #948
integrate the work done here ManageIQ/manageiq#15911 (comment)

[2017-09-25 15:57] chriskacerguis commented on #997
Dup of https://github.com/ManageIQ/manageiq-ui-service/issues/948

[2017-09-25 15:57] #997 closed

[2017-09-25 23:19] chriskacerguis commented on #882
@dclarizio or @martinpovolny or @himdel how do we add a new role / product feature?

/cc @chalettu @Loicavenel

[2017-09-25 23:45] chriskacerguis opened #1004 "Sprint 70 Plan"
This plan captures our work for Sprint 70. This is a 2 week iteration.

## Plan Items

Below is a summary of the top level plan items.

Legend of annotations:

Mark | Description
-- | --
🏃 | work in progress
✋ | blocked task
💪 | stretch goal for this iteration
🔵 | more details required
🕐 | waiting for review
🔴 | missing issue reference

## Resource Details
- [ ] 🏃 Rework Resource Details Level pag

[2017-09-25 23:51] chriskacerguis commented on #999
@chalettu please remember to close out your issues when done :)

[2017-09-25 23:51] #999 closed

[2017-09-26 00:43] AllenBW commented on #1004
EMOJIIIIIIIIIIIII 💥

[2017-09-26 07:13] Loicavenel commented on #882
@chriskacerguis there are 2 things here, is to update Roles with SUI features like described here: https://docs.google.com/document/d/10p69nnTT7dG0hnCBCJkcapjlxVd08J0A2QRX054B_08/edit
And then or we create a new out-of-the-box Group + Role just for SUI or we update existing one

[2017-09-26 11:53] serenamarie125 opened #1006 "The service ordering flow should be moved to an overlay panel"
Description of problem:
When ordering a service, or reordering a service (https://github.com/ManageIQ/manageiq-ui-service/pull/920) the ordering flow is embedded in a page.  This flow should be moved to an overlay panel.  This will improve the user experience by not changing context on the user.

UX should produce mockups for this although an initial quick mockup can be shown here: https://docs.go

[2017-09-26 13:52] dclarizio commented on #882
@chriskacerguis
Hey, we just went through this for the API section!

You gotta do this:
https://github.com/ManageIQ/manageiq/pull/16021

and this:
https://github.com/ManageIQ/manageiq-ui-classic/pull/2230

Let me or @h-kataria know if you need any assistance

[2017-09-26 15:06] chriskacerguis commented on #1006
Per the document (so all can comment):

## Scenarios:

1. User views all orders & selects a request to reorder

1. User is brought through the ordering process, using defaults of the initial request, and given the option to override the values

## Select a request to reorder

<img width="632" alt="screen shot 2017-09-26 at 10 04 47 am" src="https://user-images.githubusercontent.com/2414647/3086763

[2017-09-26 15:06] chriskacerguis commented on #1006
Just to make sure we are all on the same page (the doc indicates approval) @Loicavenel are you good with this?

[2017-09-26 15:09] chriskacerguis commented on #985
@ohadlevy any thoughts?

[2017-09-26 15:09] chriskacerguis commented on #964
Thoughts @ohadlevy @martinpovolny @AllenBW @himdel @ManageIQ/core-ui-classic

/cc @ohadlevy

[2017-09-26 15:17] chriskacerguis commented on #948
@chalettu please start ASAP

[2017-09-26 15:25] Loicavenel commented on #1006
That will make more sense for me.

[2017-09-26 15:29] chriskacerguis commented on #1006
@serenamarie125 since you put this in I'm adding the UX approved label

[2017-09-26 18:37] AllenBW commented on #964
Looks like it is an assertion library with some stubbing features?  Would replace both chai and sinon... Not opposed to using, aside from dep consolidation, not seeing any *major* benefit (but thats probably also because i haven't used it yet ;-) )

[2017-09-26 20:27] #948 closed

[2017-09-28 12:17] #936 closed

[2017-09-28 12:18] #937 closed

[2017-09-28 14:38] chriskacerguis commented on #882
Thanks @dclarizio

[2017-09-28 14:39] chriskacerguis commented on #882
@chalettu so let's start with adding a "Self Service" top level, then for right now add the following:

- Show Help Menu
- Show UI Switcher

[2017-09-28 17:00] Loicavenel commented on #882
@chriskacerguis Great..

[2017-09-28 17:33] chalettu commented on #882
PR For ManageIQ repo.
https://github.com/ManageIQ/manageiq/pull/16068

[2017-09-28 18:59] chriskacerguis commented on #945
@chalettu can you please add the RBAC you created here: https://github.com/ManageIQ/manageiq-ui-service/issues/882 for the app launcher?  If they have access, please show it, otherwise, please hide it.

[2017-09-28 19:00] chriskacerguis opened #1028 "Add RBAC visibility to the help menu"
@chalettu can you please add the RBAC you created here: https://github.com/ManageIQ/manageiq-ui-service/issues/882 for the help menu?  If they have access, please show it, otherwise, please hide it.

[2017-09-28 21:15] chalettu commented on #882
PR for classic-ui modifications. https://github.com/ManageIQ/manageiq-ui-classic/pull/2260

[2017-09-28 21:15] chalettu commented on #882
<img width="898" alt="sui_features" src="https://user-images.githubusercontent.com/230549/30990806-dcc170cc-a45f-11e7-93f1-532db90b9731.png">
Screen shot of new feature tree.

[2017-09-29 14:00] jweewer opened #1036 "icons not appearing on self service UI"
Description of problem:
After a custom skin is build and uploaded all the icons like the shoppingcart, notification icon, question mark, etc are missing from the interface.

How reproducible:
Just get the current code from github and build it with yarn.

Steps to Reproduce:
1.
2.
3.

Actual results:
no icons being in the navbar etc.

Expected results:
icons being in the navbar is expected

Additio

[2017-09-29 14:09] AllenBW commented on #1036
Confirmed, great catch @jweewer !!!

[2017-09-29 15:26] #1036 closed

[2017-09-29 17:45] AllenBW opened #1038 "Provider and OS images via API"
In support of #910 but also all things, it would be super great if the api could serve provider and os images (by images, I mean the `.svg` that are generated and stored in `public/assets/svg`).

* will ensure consistency of icons across uis
* will reduce bundle size of sui assets
* will be super cool

This discussion is kinda related but also kinda different: https://gitter.im/ManageIQ/manageiq/u

[2017-09-29 17:52] chriskacerguis commented on #1038
Will need this resolved: https://github.com/ManageIQ/manageiq-api/issues/92

[2017-09-29 17:53] chriskacerguis commented on #1038
@AllenBW good call on this.  @Loicavenel and @serenamarie125 are you on board with this too?

[2017-09-29 17:56] AllenBW opened #1039 "Add Provider and OS assets to sui"
Just in case #1038 doesn't make it anytime soon, adding the necessary svg assets to the sui

Ultimately in support of #910

[2017-09-29 18:03] Loicavenel commented on #1038
Cannot comment on the technology side, but consistency is good.

[2017-09-29 18:32] Loicavenel commented on #882
@chriskacerguis For Help Menu, this was already for OPS UI.. We should use the same place.

[2017-09-29 19:41] chriskacerguis commented on #1028
@chalettu per @Loicavenel comment here https://github.com/ManageIQ/manageiq-ui-service/issues/882#issuecomment-333203894 could you please investigate and use this if you can?

[2017-09-29 21:37] Loicavenel commented on #1028
There is a recent PR from Classic-UI for this

[2017-09-29 21:48] #1028 closed

[2017-09-29 21:49] chriskacerguis commented on #1028
@Loicavenel this item is complete :)

[2017-09-29 21:55] chriskacerguis commented on #935
Spoke to @Loicavenel (via email) per his email:

Checked the code, and this is there: https://github.com/ManageIQ/ui-components/blob/master/src/dialog-user/components/dialog-user/dialogField.html#L9

[2017-09-29 21:55] #935 closed

[2017-09-29 22:01] chriskacerguis commented on #882
So in talking with @chalettu we need to rework the RBAC module in the SUI.

@chalettu Wondering if we should make the RBAC module an NPM lib?

[2017-10-02 14:21] #1004 closed

[2017-10-02 17:13] #1039 closed

[2017-10-02 17:15] #945 closed

[2017-10-03 18:05] chalettu opened #1052 "Disable toast notifications by role in SUI"
Description of problem:
BZ https://bugzilla.redhat.com/show_bug.cgi?id=1496233

How reproducible:

Steps to Reproduce:
1.
2.
3.

Actual results:

Expected results:

Additional info:

[2017-10-03 18:15] chalettu commented on #882
@chriskacerguis , should we close this since we now have the ability implemented where we can have RBAC permissions defined for SUI?

[2017-10-03 18:16] #1052 closed

[2017-10-03 18:18] chriskacerguis commented on #882
@chalettu yeah, I was going to leave it open to rework the whole thing, but I think we should make a new issue.

[2017-10-03 18:18] #882 closed

[2017-10-03 20:33] chriskacerguis opened #1054 "Create RBAC roles / features"
Per @Loicavenel [comment here](https://github.com/ManageIQ/manageiq-ui-service/pull/1053#issuecomment-333939715) we need to add RBAC to the following:

### Core
- [x] Application Launcher
- [ ] Switch Language

### Dashboard
- [ ] Monthly charge view

### My Services
- [ ] View / Show
- [ ] Start
- [ ] Stop
- [ ] Suspend
- [ ] Set Retirement Date
- [ ] Edit
- [ ] Remove
- [ ] Set Ownership

### VM

[2017-10-03 20:38] Loicavenel commented on #1054
Just few points:
Core Can be renamed Top Menu or something else, I did not have better idea
This is missing the new stuff we are adding in 4.6..
We have to review VM resources here, it may be Resources with Sub Item like VM, Generic Object, Playbook etc... And for VM we can be granular on what we show: part of the dashboard for example

[2017-10-03 20:42] AllenBW commented on #1054
I wanta chime in here, been said before, will be said again, we should not add these roles to `product_features.yml` in manageiq until they are mapped to a behavior in the SUI, it would be dreadfully cruel and confusing to show users something that does nothing.

I propose twin prs, one in the sui that takes advantage of the feature, and another in manageiq that adds the feature.  Never one withou

[2017-10-04 11:35] chriskacerguis commented on #1054
@AllenBW totally agree.

[2017-10-04 11:37] Loicavenel commented on #1054
@AllenBW @chriskacerguis my goal was not asking to implement role but to make sure we have a clear list.. And yes, we should implement it feature after feature. I hope we can have it in Errata.

[2017-10-04 11:37] chriskacerguis commented on #1054
@Loicavenel understood.

[2017-10-09 11:27] chriskacerguis commented on #949
Need this done:

https://github.com/ManageIQ/manageiq-api/issues/91

[2017-10-11 13:28] chriskacerguis opened #1067 "Use RBAC to customize VM details page"
Per @jonnyfiveiq (edited for "public" viewing):

@serenamarie125 @Loicavenel my quick thought for this would be to have a card similar to the no data available card, but say you are not authorized.  Admittedly it's not a great user experience, but it would be a good stop gap measurement.  Thoughts?

[2017-10-11 15:17] chalettu commented on #1054
@miq-bot add_label wip

[2017-10-11 15:42] jonnyfiveiq commented on #1067
UX would be same as today? Simply extend the tree view in the RBAC area to accommodate a new leaf that is SUI VM Property Page, and allow the user to turn on or off sections of the property page. That that would be the minimum.

Really we need to be able to control each individual item on the page, this would be too much for the RBAC tree control and why I proposed using more of a template approac

[2017-10-11 17:02] Loicavenel commented on #1054
@chalettu we need to organise it better and follow what was done already exist to don't confuse Customers

Self Service
	Core
		Application Launcher
		Switch Language
       Dashboard
		Monthly charge view
      My Services
		View
			Show
               Operate
			Start
                        Stop
			Suspend
 			Edit Tags
    			Set Retirement Date
			Retire Service
		Modify
			Edit

[2017-10-11 17:06] AllenBW commented on #1054
@Loicavenel wanta confirm, use of `Self Service` should be `Service`?  (first item in your list)

[2017-10-11 17:18] AllenBW commented on #1054
Also Think we should rename ` Delete All Snapshots` to  `Delete Snapshots`, deleting all or a single one can both be wrapped up in that permission...

Ok quick question... we have `Remove` For Orders, Services but `Delete` for Snapshots and `Clear` for the shopping cart... Thoughts on clearing up the  wording inconsistencies  around deleting things from places?

[2017-10-11 17:28] Loicavenel commented on #1054
Guys, sorry for the formatting here.. I thought Github will keep it..
All in the doc here. https://docs.google.com/document/d/10p69nnTT7dG0hnCBCJkcapjlxVd08J0A2QRX054B_08/edit

[2017-10-11 17:38] chalettu commented on #1054
@Loicavenel , can you post the finalized structure of permissions you would like to appear in the Classic UI?

[2017-10-11 18:23] Loicavenel commented on #1054
@chalettu It is in the Doc, I not sure or to post it in Github.. in which format

[2017-10-11 18:46] chalettu commented on #1054
<img width="800" alt="rbac1" src="https://user-images.githubusercontent.com/230549/31459975-1197269e-ae82-11e7-855c-11c583120e42.png">
<img width="466" alt="rbac_2" src="https://user-images.githubusercontent.com/230549/31459976-1323f226-ae82-11e7-9a50-35e30a3ed7a9.png">
<img width="357" alt="rbac_3" src="https://user-images.githubusercontent.com/230549/31459977-1492dc08-ae82-11e7-8926-c6676382bf02

[2017-10-12 13:38] Loicavenel commented on #1067
@chriskacerguis in the RBAC we will have to details the different Cards we have but, we have to thinks about what it is going to looks like.. @serenamarie125 do you see any nice option here?

[2017-10-12 15:52] AllenBW opened #1072 "Logout on production does not behave as expected when url length is deep"
continuation of #828

[2017-10-12 16:10] #1072 closed

[2017-10-13 02:27] serenamarie125 commented on #1067
@chriskacerguis I don't think would be a good experience

@jonnyfiveiq would it be easy for us to identify sections?  For examples
1 - Row 1 with the generic VM Details
2 - Row 2 with the Timeline View
3 - Row 3 with Utilization, Disk Usage & Disk I/O
4  - Row 4 Tags, Custom Attributes & Smart State

If we did it that way, we could still ensure that what's viewed will look decent because it will b

[2017-10-16 16:37] chalettu opened #1088 "Simplify navigation code"
Description of problem:
Currently we have way to many things that set up and manipulate navigation.  Needs to be simplified in to a simple controller and service.   Currently it is in
navigation.config.js
navigation.provider.js
navcounts.service.js
navigation-controller.js
layout.config.js

[2017-10-16 16:46] chriskacerguis commented on #927
Closing this, work should be done from BZ.

[2017-10-16 16:46] #927 closed

[2017-10-16 16:46] chriskacerguis commented on #946
Closing this, work should be done from BZ.

[2017-10-16 16:46] #946 closed

[2017-10-16 16:46] chriskacerguis commented on #947
Closing this, work should be done from BZ.

[2017-10-16 16:46] #947 closed

[2017-10-16 16:47] chriskacerguis commented on #896
Closing this, work should be done from BZ.

[2017-10-16 16:47] #896 closed

[2017-10-16 16:47] chriskacerguis commented on #929
Closing this, work should be done from BZ.

[2017-10-16 16:47] #929 closed

[2017-10-16 16:47] chriskacerguis commented on #949
Closing this, work should be done from BZ.

[2017-10-16 16:47] #949 closed

[2017-10-16 16:47] chriskacerguis commented on #943
Closing this, work should be done from BZ.

[2017-10-16 16:47] #943 closed

[2017-10-16 16:48] chriskacerguis commented on #938
Closing this, work should be done from BZ.

[2017-10-16 16:48] #938 closed

[2017-10-16 16:49] chriskacerguis commented on #640
Closing this, work should be done from BZ.

[2017-10-16 16:49] #640 closed

[2017-10-16 16:49] #923 closed

[2017-10-16 16:49] chriskacerguis commented on #928
not needed anymore

[2017-10-16 16:49] #928 closed

[2017-10-16 16:53] chriskacerguis commented on #1038
Moving to BZ: https://bugzilla.redhat.com/show_bug.cgi?id=1502785

[2017-10-16 16:53] #1038 closed

[2017-10-16 17:00] chriskacerguis commented on #985
Doesn't seem like we have consensus.  Closing, we can revisit later if wanted.

[2017-10-16 17:00] #985 closed

[2017-10-16 17:02] chriskacerguis commented on #942
working of BZ for this moving forward.

[2017-10-16 17:02] #942 closed

[2017-10-16 17:07] chriskacerguis commented on #1067
BZ: https://bugzilla.redhat.com/show_bug.cgi?id=1502790

[2017-10-16 17:07] #1067 closed

[2017-10-16 17:08] chriskacerguis commented on #939
working off of BZ

[2017-10-16 17:08] #939 closed

[2017-10-16 20:33] chalettu commented on #1054
@miq-bot remove_label wip

[2017-10-17 14:47] #1054 closed

[2017-10-17 14:48] chriskacerguis commented on #1054
merged.

[2017-10-17 14:48] chriskacerguis commented on #1054
https://github.com/ManageIQ/manageiq-ui-service/pull/1090

[2017-10-18 17:11] chalettu commented on #1088
@miq-bot assign chalettu

[2017-10-18 19:04] chalettu commented on #1088
@miq-bot add_label wip

[2017-10-19 12:50] #931 closed

[2017-10-19 19:02] AllenBW opened #1114 "Update explorer pagination to use `subquery_count` for pagination"
Description of problem:
Well this https://github.com/ManageIQ/manageiq-api/pull/113 kinda borked our pagination, gonna fix it by changing the value we use to set the upperlimit for each explorer

[2017-10-19 20:36] chalettu commented on #1088
@miq-bot remove_label wip

[2017-10-19 23:25] #934 closed

[2017-10-20 13:52] #1114 closed

[2017-10-20 13:52] #1088 closed

[2017-10-20 13:58] AllenBW opened #1122 "GET /api/settings/api/max_results_per_page should inform the upper limit of all ui pagination"
Implement the fix yielded by https://github.com/ManageIQ/manageiq-api/issues/136

Present state: we have some number hanging out, the case where this setting is lower than those numbers, user will be sad

Desired state: user is bound by this value for all pagination

[2017-10-20 16:51] chalettu opened #1123 "Remove Navigation from RBAC service"
Remove all references to Navigation and navigation permissions from RBAC service

[2017-10-20 16:51] chalettu commented on #1123
@miq-bot assign chalettu
@miq-bot add_label technical debt

[2017-10-20 23:59] #1123 closed

[2017-10-23 11:45] AllenBW opened #1127 "Apply standard styles to .spec.js files, add done() to async tests"
https://standardjs.com/#i-use-a-library-that-pollutes-the-global-namespace-how-do-i-prevent-variable-is-not-defined-errors

[2017-10-23 13:42] AllenBW opened #1129 "Beware of libraries that assert on property access, augment chai with dirty-chai"
https://github.com/moll/js-must#asserting-on-property-access

https://www.npmjs.com/package/dirty-chai

https://github.com/standard/standard/issues/690#issuecomment-278533482

[2017-10-23 22:17] chalettu opened #1134 "[WIP] Migrate functionality for LoadUser to use Redux"
Move all functionality related to a user into its own service and remove it from Session Factory
Set this use redux to store user data between page reloads

[2017-10-23 22:19] chalettu opened #1135 "Migrate functionality to set language to utilize Redux"
Update how we persist selected language to use Redux.  This needs to change in such a way that removes this notion of having to set language on page reload.  Language factory should support retrieving selected language from redux when requested.  This means deprecating Language.onReload(response)

[2017-10-23 22:20] chalettu opened #1136 "Migrate appliance info setting to utilize Redux"
Change ApplianceInfo.set(response) to not have to run between page changes.  Only set that when someone logs in and use redux to set and retrieve the appliance info.

[2017-10-23 22:22] chalettu opened #1137 "Retire syncSession functionality from authorization.run"
This is dependent on https://github.com/ManageIQ/manageiq-ui-service/issues/1144

After all those have been merged , we should be in good shape to remove syncSession since all our important functions will be migrated over to redux.

[2017-10-23 23:32] chalettu commented on #1134
@miq-bot add_label technical debt
@miq-bot assign chalettu
@miq-bot add_label wip

[2017-10-24 15:14] chriskacerguis opened #1141 "Look into compressing assets"
We should look into compressing assets, perhaps something like this:

https://github.com/theforeman/foreman/blob/develop/config/webpack.config.js#L133

[2017-10-24 15:21] chriskacerguis commented on #1127
@AllenBW is this done?

[2017-10-24 15:34] AllenBW commented on #1127
yeah woops, referenced wrong issue in pr,

closed by #1130

[2017-10-24 15:34] #1127 closed

[2017-10-24 17:19] chriskacerguis opened #1144 "Add Redux for State Management"
We implement Redux for state management within the service UI in order to facilitate the UIs working more closely together.

- [ ] Migrate appliance info setting to utilize Redux

- [ ] Migrate functionality to set language to utilize Redux

- [ ] Migrate functionality for LoadUser to use Redux

[2017-10-24 17:19] chriskacerguis commented on #1136
Closing.  Tracking here https://github.com/ManageIQ/manageiq-ui-service/issues/1144

[2017-10-24 17:19] #1136 closed

[2017-10-24 17:20] chriskacerguis commented on #1135
Closing Tracking here: https://github.com/ManageIQ/manageiq-ui-service/issues/1144

[2017-10-24 17:20] #1135 closed

[2017-10-24 17:21] chriskacerguis commented on #1134
Tracking in a single issue: https://github.com/ManageIQ/manageiq-ui-service/issues/1144

[2017-10-24 17:21] #1134 closed

[2017-10-25 14:30] AllenBW commented on #1141
So this would make sense if we were intent on serving compressed versions of assets with Content-Encoding, but this work will be more than adding the webpack plugin, need to reconfigure the way the apache server offers up the sui... a discussion that should include mo than sui peeps

related...
https://stackoverflow.com/questions/11641923/transfer-encoding-gzip-vs-content-encoding-gzip#11664307

@

[2017-10-25 15:01] chriskacerguis opened #1147 "Set 10 as the default for all list views"
Set 10 as the default for all list views

[2017-10-25 15:01] chriskacerguis opened #1148 "Remove dollar (chargebacks) on the “My Services” list"
Remove dollar (chargebacks) on the “My Services” list

[2017-10-25 15:03] ohadlevy commented on #1147
Just a bit of context: during a quick demo today we've noticed that by default a user gets a scroll bar (e.g. there are items that do not show on your page and that you have to scroll) I think it make sense that the default page size does not load extra data that is not initially visibly, especially with regard to the fact some of these pages are slow to load to begin with. /cc @serenamarie125 @Lo

[2017-10-25 15:03] chriskacerguis opened #1149 "Use the PF loading card in place of the loading spinner"
Use the PF loading card in place of the loading spinner

[2017-10-25 15:04] Loicavenel commented on #1147
@chriskacerguis @ohadlevy can we get screenshots

[2017-10-25 15:04] chriskacerguis opened #1150 "Remove numbers from sidebar"
Remove numbers from sidebar and the polling as well (for speed)

[2017-10-25 15:05] ohadlevy commented on #1148
Prior to implementing this issue, I would double check how much faster is loading the API without this info, and consider either to do two api calls (fast with less data but enough to render the page, and second with more data while showing loading state/spinner on those specific elements). /cc @serenamarie125 @Loicavenel

[2017-10-25 15:06] ohadlevy commented on #1150
@Loicavenel does showing the number of services, orders etc in the vertical nav bar is useful? it seems like we have a background API call that keeps updating those numbers, but I would assume 10+ icon or similar would probably be enough, as users don't usually care if its a large number anyway?

[2017-10-25 15:09] AllenBW commented on #1147
<img width="1551" alt="screen shot 2017-10-25 at 11 07 17 am" src="https://user-images.githubusercontent.com/6640236/32006382-b2fc5d0e-b974-11e7-9ef7-5d1438488441.png">

vertical height of some 1200 px?

[2017-10-25 15:09] AllenBW commented on #1150
It would cut down on polling a yuge amount <3

[2017-10-25 15:12] Loicavenel commented on #1148
@chriskacerguis @ohadlevy if we remove $, we are removing a functionality here.. the number of $ is indicating of low, medium and high cost

[2017-10-25 15:13] Loicavenel commented on #1147
Ok, so here we want to show only 10 items as default to avoid scroll bar...

[2017-10-25 15:22] AllenBW commented on #1148
So if removing the attribute has no tangible impact on load times, would we still want to remove it?

[2017-10-25 15:25] Loicavenel commented on #1147
Just tried it... With 10 Items I still have a Scroll bar

[2017-10-25 15:31] AllenBW commented on #1147
<img width="1548" alt="screen shot 2017-10-25 at 11 28 35 am" src="https://user-images.githubusercontent.com/6640236/32007484-ad7b4ebe-b977-11e7-9f6a-371504f65fd5.png">

different resolution screens will behave, differently...

by default, we list the most recently created services first and all filtering is done on the whole collection (ie not just what you see on the screen) if we wanted to ensu

[2017-10-25 15:34] Loicavenel commented on #1147
I have a MacBook retina Display which I will consider a good resolution already. I can see 8 Services Total

[2017-10-25 15:38] AllenBW commented on #1147
Oh! wasn't trying to say your resolution was poor, if i set my display to macbook default, 1440 by 900 we see
<img width="1162" alt="screen shot 2017-10-25 at 11 36 43 am" src="https://user-images.githubusercontent.com/6640236/32007926-e83335ac-b978-11e7-8fa5-d57947176cd0.png">

Resolution my ss above was taken at is same display, resolution 1900 by 1200

[2017-10-25 15:38] Loicavenel commented on #1150
I think it is useful, you know how many service you have.. Do you want to show it only in the Dashboard? and not in Nav Bar? When you load the Dashboard you have to get it anyway???

@serenamarie125 your thought?

[2017-10-25 15:39] chalettu opened #1151 "Change how Ajax requests are run on Dashboard State"
Take the ajax requests out of the Resolve portion of the state and move them to load when controller is initialized.

[2017-10-25 15:39] chalettu commented on #1151
@miq-bot assign chalettu

[2017-10-25 15:39] Loicavenel commented on #1147
My point is even with 10 items you may still have a scroll bar, this does not remove the issue...

[2017-10-25 15:40] AllenBW commented on #1149
FYSA tracking this ongoing discussion https://github.com/patternfly/angular-patternfly/issues/658

[2017-10-25 15:55] chalettu opened #1152 "Fix untranslated strings in Zanata language files"
Fix issue with %s strings and other untranslated strings showing up in zanata pot files.

[2017-10-25 15:55] chalettu commented on #1152
@miq-bot add label technical debt

[2017-10-25 16:05] AllenBW commented on #1148
OK so  I was talking to @imtayadeway who was saying that this attribute alone likely is not the cause of the load times...

@chriskacerguis @ohadlevy do we still want to pull it?

[2017-10-25 17:18] chriskacerguis commented on #1147
@Loicavenel My thought is that, but limiting the results, we limit the workload on the API.

[2017-10-25 17:19] chriskacerguis commented on #1148
@Loicavenel question...does it make sense to have the relative cost (the $) on the My Services page?  It seems that it would make more sense on the Catalog page, as once the buy the service, do they really care what it costs?

That aside, we are just looking to speed things up until the API team can complete its work.

[2017-10-25 17:22] chriskacerguis commented on #1150
@Loicavenel So, just some background:

1. Those are two different calls
2. We load the nav bar and make 3 calls (one for each "section").

I can see the benefit of polling for the # of services, but does it matter how many orders you have placed (that you need to see it on the side bar)?  Same thing with the # of catalog items?

That said, regarding the Dashboard.  I haven't seen any mocks, but I

[2017-10-25 20:12] Loicavenel commented on #1147
ok, at the end customer can change it after first page loaded

[2017-10-25 20:12] chriskacerguis opened #1159 "Custom button grouping issue"
With custom buttons on the VM details page, it looks like there is a use case in which the buttons could overflow.
<img width="1827" alt="screen shot 2017-10-24 at 8 02 25 pm" src="https://user-images.githubusercontent.com/2414647/32020748-d3666dec-b996-11e7-87fa-347d8442d97b.png">

Please add a fix to address that per the UXD guidance here:

https://github.com/ManageIQ/manageiq-design/blob/master

[2017-10-25 21:03] chriskacerguis commented on #1147
@Loicavenel Allen is going to post the load times at 10 vs 20.  Let's use that data to determine if this is worth doing :)

[2017-10-25 23:41] chriskacerguis opened #1160 "Correct redirect on login"
If a user is sent a link, say https://server.com/ui/service/services/2 and they are not logged in, they are prompted to login.  After login, however they are sent to the default dashboard, not the link.  When a user has a referral link, and they login they should go that URL

[2017-10-26 01:11] serenamarie125 commented on #1147
This is very confusing to me.  We are limiting the page size so that there is no scrolling?  My opinion is that will anger customers more ... no one every wants to see just 10 items at a time

[2017-10-26 01:40] serenamarie125 commented on #1150
@ohadlevy When we designed the SUI initially, it was an intentional decision to have the "badges" included in the vertical navigation.

@Loicavenel I definitely see value to this ... the user is able to see the My Services number increment or decrement when services are approved/provisioned and/or retired, regardless of where they are in the UI

Why do you have to continue to poll?  Can you just u

[2017-10-26 01:47] serenamarie125 commented on #1148
I'm confused as to why we are revisiting these designs.  This relative cost design was done, reviewed with customers and PM a long time ago.  Here is the design: https://manageiq.github.io/manageiq-design/UX/ui-service/MyServices/design#list-view

The use case was to allow the user to show the costs of their services, not what's in the catalog, that's why it's shown in My Services.

[2017-10-26 03:17] serenamarie125 commented on #940
@Loicavenel given that trends have been removed, and we are showing utilization at a point in time, I'm not sure that is possible.

When looking at the dashboard, you are seeing an aggregation of utilization in the donut chart.  When you click on the donut, you are able to see the contributing resources.

Are we missing anything here @Loicavenel ?  I'm assuming the wording is based on when we thou

[2017-10-26 03:20] serenamarie125 commented on #1006
@chriskacerguis I'd like to have a real design for this.  I had a "quick" mockup in the initial Duplicate Order, and that wasn't pursued for 4.6.  Let's make sure we have the appropriate design before you scope and implement this.

[2017-10-26 07:17] Loicavenel commented on #940
@serenamarie125 Trends should be available when we have the appropriate APIs. We need to sit down and review the Service Dashboard and the flow.

[2017-10-26 07:28] ohadlevy commented on #1148
@serenamarie125 thanks for your feedback, the main context of this issue is performance, within that context, @chriskacerguis and I were looking to what can speed up the performance - and we assumed that fetching the cost metrics are "expensive" - however from the thread it seems that's not case. I would suggest to keep investigating what are the "low hanging fruits" that can improve performance a

[2017-10-26 13:02] AllenBW commented on #1147
@serenamarie125 this is changing the default view to 10 (vs 20 it is set at presently) users will still be able to change that limit if they so choose...

for posterity, timing and additional discussion is now happening in this pr https://github.com/ManageIQ/manageiq-ui-service/pull/1155 ❤️

[2017-10-26 13:06] serenamarie125 commented on #1147
@AllenBW gracias, moving there now :D

[2017-10-26 13:31] AllenBW opened #1164 "Replace support_launch_cockpit? decorator with supports_cockpit?"
[continuation of this #1163 ](https://github.com/ManageIQ/manageiq-ui-service/pull/1163/files), ends up master (as of writing) does not support `supports_launch_cockpit?` and that this decorator should indeed be `supports_cockpit?`

cc @jntullo

[2017-10-26 13:52] #1149 closed

[2017-10-26 14:18] #1164 closed

[2017-10-26 16:30] AllenBW opened #1167 "Snapshot View, missing camera and create/delete functionality"
mismatched rbac permissions and missing timeline event shape need to be addressed

cc @Loicavenel @serenamarie125

[2017-10-26 16:39] AllenBW opened #1169 "Remove graph view from service details view other view cleanup"
- [x] remove graph view for now
- [x] remove view graphs menu item (it no longer applies)
- [ ] ~ensure resource dropdown buttons stay on same line~

gonna do that third one in #1171

cc @Loicavenel @serenamarie125  can yall think of other work that needs to be done on this page in the short term?

[2017-10-26 17:49] serenamarie125 opened #1170 "Kebab menu on list view items in My Services is not always visible"
Description of problem:

In My Services, if you access the kebab menu in the first couple of rows, it is hidden under the toolbar
Screenshot:

<img width="1183" alt="screen shot 2017-10-26 at 11 04 58 am" src="https://user-images.githubusercontent.com/12504403/32068428-538d1a8a-ba54-11e7-8ae5-a32a7753523e.png">

[2017-10-26 17:49] serenamarie125 commented on #1170
@Loicavenel @AllenBW as discussed in our meeting 2017-Oct-26

[2017-10-26 17:53] serenamarie125 opened #1171 "When looking at a service, the Resource action buttons should be on the same "row" as the rest of the information"
Description of problem:
When looking at a service, the Resource action buttons should be on the same "row" as the rest of the information

See the attached screenshot with issue:
<img width="1184" alt="screen shot 2017-10-26 at 11 05 50 am" src="https://user-images.githubusercontent.com/12504403/32068663-cde496f0-ba54-11e7-9696-4c731f8b61c7.png">

@Loicavenel @AllenBW as discussed in our meeting o

[2017-10-26 18:36] AllenBW commented on #1170
I have a hunch this might be a pf-ang thing... i seem to remember this being a pf-ang... lower priority than the others, (unless otherwise instructed)

[2017-10-26 18:37] AllenBW commented on #1171
This is an sui thing, we could/should be using menu buttons/ action buttons, (at the time of creation not part of pf-ang)  will do this first-ish (because i already started on it) unless otherwise instructed

[2017-10-26 19:08] AllenBW opened #1174 "Resource details first row cards should adjust to smaller screens"
We lose text in the second card (first row) need to adjust this view for smaller sized viewports

<img width="1091" alt="screen shot 2017-10-26 at 3 09 58 pm" src="https://user-images.githubusercontent.com/6640236/32072376-61b36856-ba60-11e7-8640-21722269f0a7.png">

[2017-10-27 02:06] serenamarie125 opened #1176 "Visual cleanup of Resource Detail View"
Description of problem:
Various items re: visual cleanup of the Resource Detail View
1. Toolbar should have a white background, be 60px high, and there should be a 20px margin before the beginning of the breadcrumb
2. There should be a 20 px left an right margin on the dashboard page
3. Can we have 2 columns when there are > 6 items on the Smart State Analysis card?
4. Per Smart state analysis, Ic

[2017-10-27 02:10] serenamarie125 opened #1177 "Service Details - spacing between buttons needs to be consistent"
Description of problem:

The spacing between buttons on the service details page is inconsistent.

Please see the red arrow on the attached screenshot indicating 3 different margin values being used
![spacingbetweenbuttons](https://user-images.githubusercontent.com/12504403/32084947-3ac8ded0-ba9a-11e7-9126-84668d24067d.png)

FYI @AllenBW @Loicavenel

[2017-10-27 03:00] #1174 closed

[2017-10-27 14:31] #1169 closed

[2017-10-27 14:32] #1147 closed

[2017-10-27 14:33] #1148 closed

[2017-10-27 14:37] chriskacerguis commented on #1150
@serenamarie125

That's why we have to poll, so we can update the count.  We don't have a push mechanism that would do that (backend team would need to add it)

I'm not looking for anything, and I haven't requested anything new.  I though at some point the dashboards were getting overhauled (I remember talking about that at the start of the release, but priorities changed?)

[2017-10-27 14:38] chriskacerguis commented on #1150
All that said, the polling API calls are minimal, so removing this won't do anything for performance.

[2017-10-27 14:38] #1150 closed

[2017-10-27 14:45] serenamarie125 commented on #1150
@chriskacerguis as far as the dashboards, the editable dashboard effort is a phased effort.  I haven't heard of it affecting SUI in 4.6, but @Loicavenel can correct me here.

[2017-10-27 14:46] chriskacerguis commented on #1150
@serenamarie125 it was VERY briefly talked about that we would "share" the component.  That's all I heard...and haven't heard anything else.  Might have just been early planning.  /shrug no big deal

[2017-10-27 15:08] chriskacerguis commented on #1160
Closing and tracking in https://bugzilla.redhat.com/show_bug.cgi?id=1507069

[2017-10-27 15:08] #1160 closed

[2017-10-27 15:13] chriskacerguis commented on #930
Closing.  Tracking this here: https://bugzilla.redhat.com/show_bug.cgi?id=1507070

[2017-10-27 15:13] #930 closed

[2017-10-27 15:23] chriskacerguis commented on #1144
Closing this, tracking in: https://bugzilla.redhat.com/show_bug.cgi?id=1502778

[2017-10-27 15:23] #1144 closed

[2017-10-27 15:28] chriskacerguis commented on #1177
Closing.  Tracking via BZ: https://bugzilla.redhat.com/show_bug.cgi?id=1507074

[2017-10-27 15:28] #1177 closed

[2017-10-27 15:32] chriskacerguis commented on #1152
Closing.  Tracking here: https://bugzilla.redhat.com/show_bug.cgi?id=1507076

[2017-10-27 15:32] #1152 closed

[2017-10-27 15:37] chriskacerguis commented on #1006
@serenamarie125 ok.

Closing this, and tracking here: https://bugzilla.redhat.com/show_bug.cgi?id=1507079

[2017-10-27 15:37] #1006 closed

[2017-10-30 16:09] AllenBW opened #1181 "Resource Details power timeline events need to be clustered over an interval"
Presently, resource details power events timeline does not cluster events, reconfigureing this to mirror OpsUI (seen below)
<img width="1393" alt="screen shot 2017-10-30 at 12 04 19 pm" src="https://user-images.githubusercontent.com/6640236/32181595-1bf3e85a-bd6b-11e7-90ab-ef50efadde76.png">

cc @Loicavenel

[2017-10-30 19:50] AllenBW opened #1183 "Update translations (as of creation of this issue)"
Upload latest .pot

[2017-10-31 01:04] #1167 closed

[2017-10-31 01:04] #1171 closed

[2017-10-31 01:05] #1181 closed

[2017-10-31 12:13] AllenBW commented on #1183
closed by #1184

[2017-10-31 12:13] #1183 closed

[2017-11-02 15:37] vojtechszocs commented on #964
@AllenBW Jest is more than a simple test runner providing assertion and stubbing features, it's a test platform that handles things like ES6 to ES5 transpilation, supports watch mode, has interactive CLI, has built-in snapshot testing support, etc.

Jest has its own assertion and mocking API. Jest assertions should be close to Chai. As for Sinon you could keep using it with Jest and then gradually

[2017-11-02 17:49] chriskacerguis opened #1209 "[FINE] Update dependancies"
We should look at updating the dependancies for the FINE branch.

See: https://www.bithound.io/github/ManageIQ/manageiq-ui-service/fine

[2017-11-02 17:50] chriskacerguis opened #1210 "[EUWE] Update dependancies"
We should look at updating the dependancies for the EUWE branch.

See: https://www.bithound.io/github/ManageIQ/manageiq-ui-service/euwe

[2017-11-03 15:02] vojtechszocs commented on #964
Thanks for the thumb ups :smiley: I found this issue while reviewing @ohadlevy's [PR for using Jest in Classic UI](https://github.com/ManageIQ/manageiq-ui-classic/pull/2540).

From what I see, Jest is converging to become something like webpack, but for testing. When building your project, you don't usually run Babel / TypeScript, Sass, UglifyJS etc. separately, but use webpack to manage the whole

[2017-11-14 19:09] chriskacerguis commented on #1159
Moving work to BZ: https://bugzilla.redhat.com/show_bug.cgi?id=1513113

[2017-11-14 19:09] #1159 closed

[2017-11-15 14:18] serenamarie125 opened #1242 "Inline notifications used on the login screen should match PatternFly"
Description of problem:
The visualization of the inline notification used on the login screen don't match PatternFly.  The screenshot below is from CloudForms Self Service 4.5:

How reproducible:
Every time

Steps to Reproduce:
1. Enter invalid username/password combination

Actual results:
<img width="689" alt="screen shot 2017-11-15 at 4 05 36 pm" src="https://user-images.githubusercontent.com/1

[2017-11-15 14:25] ohadlevy commented on #1242
related to https://github.com/patternfly/patternfly/issues/804

[2017-11-15 14:30] serenamarie125 opened #1243 "Language selector included on the login screen should match PatternFly"
Description of problem:
There are a couple of gaps with the login screen:
1.  The language selector included on the login screen should match PatternFly.  The Username, Password and Language inputs should be the same width, and the Log In button should be on a separate line.
1. The product name font is incorrect

How reproducible:
Always on 4.5

Steps to Reproduce:
Bring up the login screen.

Actu

[2017-11-15 14:41] AllenBW commented on #1242
I am little 😕 ... the screen shot above is of the the ops ui... but the issue is posted in the SUI? anywho including a ss of the sui below..

<img width="1525" alt="screen shot 2017-11-15 at 9 32 45 am" src="https://user-images.githubusercontent.com/6640236/32841314-f5cc543a-c9e7-11e7-97dd-620b6b413420.png">

From the screen shot of sui current state, comparing to patternfly design, looking to und

[2017-11-15 15:30] AllenBW commented on #1242
Okie dokie, ignoring my list, ON THIS ISSUE ! 👍 will have the change in, in a few shakes

[2017-11-15 15:30] AllenBW commented on #1243
ON THIS!! 👍

[2017-11-15 15:46] serenamarie125 commented on #1242
Sorry bout that @AllenBW messed up my screenshots!  I entered against both!

[2017-11-15 16:31] AllenBW commented on #1243
Need to confirm a thing real quick. SUI is using http://www.patternfly.org/angular-patternfly/#/api/patternfly.select.component:pfSelect

Mocks appear to use http://www.patternfly.org/angular-patternfly/#/api/patternfly.select.directive:pfBootstrapSelect

but pattenfly says to use https://www.patternfly.org/pattern-library/widgets/#dropdowns (which matches the former, the in place flavor of select

[2017-11-15 17:15] AllenBW commented on #1242
<img width="1048" alt="screen shot 2017-11-15 at 12 05 18 pm" src="https://user-images.githubusercontent.com/6640236/32849881-763fb31c-c9fe-11e7-8a7d-191a70f1e1e5.png">
@serenamarie125 notifications going alllll the way!  not gonna lie it kinda looks oddish thou...

<img width="1783" alt="screen shot 2017-11-15 at 12 14 46 pm" src="https://user-images.githubusercontent.com/6640236/32849950-adcccfe

[2017-11-15 17:39] AllenBW commented on #1242
Ewww ok... working on a few related styling issues, cleanup up this file... hasn't been really touched in a while... stand by...

[2017-11-15 19:25] chriskacerguis commented on #1141
@ohadlevy @Fryguy, what do you all think?

[2017-11-15 19:26] #1209 closed

[2017-11-15 19:26] chriskacerguis commented on #1209
let's just skip this.  we might be opening a pandoras box by doing this.

[2017-11-15 19:26] chriskacerguis commented on #1210
let's just skip this.  we might be opening a pandoras box by doing this.

[2017-11-15 19:26] #1210 closed

[2017-11-15 21:27] serenamarie125 commented on #1242
@AllenBW i commented on the PR
The issue was that the visualization ( colors ) of the inline notifications are wrong
The width was fine, as it matched the width of the content in the form.  In the PF case, there is more content, and the notification spans that content width.

[2017-11-16 09:10] serenamarie125 commented on #1242
@AllenBW note the colors of the inline notification from PatternFly ... here's an image
![image](https://user-images.githubusercontent.com/12504403/32883009-c8e44ad6-cabe-11e7-9837-3d46b28116ae.png)

[2017-11-16 11:39] AllenBW commented on #1242
@serenamarie125 OH! that wasn't made clear in the original ask, I'll work on that today, where do we stand on the width of the notification? pre the per, they did in fact, not match patternfly.

So keep them as originally created, half width, or as the pr changes, full width?

[2017-11-16 11:48] serenamarie125 commented on #1242
@AllenBW, i suggest half width as originally created, as it spanned the width of the content on your login screen.

My bad, when i said "visualization" I was referring to the colors, but I didn't specify that. Sorry!

[2017-11-16 12:35] AllenBW commented on #1242
@serenamarie125 no worries, all the cleanup that got us to full screen makes it easyish to go back, will update the pr to this effect
<img width="1000" alt="screen shot 2017-11-16 at 7 34 29 am" src="https://user-images.githubusercontent.com/6640236/32891485-b09285c4-caa0-11e7-81ca-764cf32e5dfb.png">

[2017-11-16 15:24] #1141 closed

[2017-11-16 15:27] chriskacerguis commented on #1176
Closing.  Moved to BZ: https://bugzilla.redhat.com/show_bug.cgi?id=1514069

[2017-11-16 15:27] #1176 closed

[2017-11-16 15:33] chriskacerguis commented on #940
Closing, moving to BZ: https://bugzilla.redhat.com/show_bug.cgi?id=1514073

[2017-11-16 15:33] #940 closed

[2017-11-16 15:34] chriskacerguis commented on #1137
The dependency is invalid.  Closing.

[2017-11-16 15:34] #1137 closed

[2017-11-16 15:36] chriskacerguis commented on #1122
Moved to BZ: https://bugzilla.redhat.com/show_bug.cgi?id=1514078

[2017-11-16 15:36] #1122 closed

[2017-11-16 15:41] chriskacerguis commented on #1170
Move to BZ: https://bugzilla.redhat.com/show_bug.cgi?id=1514080

[2017-11-16 15:41] #1170 closed

[2017-11-16 15:43] chriskacerguis commented on #1129
Not 100% sure what the issue is here.  Going to close this, please open a BZ if needed.

[2017-11-16 15:43] #1129 closed

[2017-11-28 19:10] #1242 closed

[2017-12-08 12:50] AllenBW opened #1329 "Drop patternfly-sass in favor of sass within patternfly"
https://github.com/patternfly/patternfly/commit/63e1e47f

patternfly-sass is no longer being maintained *BUT* there is now sass in `dist/sass` of patternfly! 🤗

[2017-12-12 14:06] #1329 closed

[2017-12-12 14:10] himdel opened #1337 "Errors when opening Notification area, after having visited timelines"
Description of problem:

![bad](https://user-images.githubusercontent.com/289743/33888771-ed45f0b4-df45-11e7-82fc-ebd22d3d904e.png)

Errors in browser console:

[code]

How reproducible:

Always

Steps to Reproduce:

1. Go to My Services
2. Visit a service with at least 1 VM
3. Click on the VM (to get to the detail screen, with timelines)
4. Go back to Dashboard
5. Open the Notifications area

Act

[2017-12-12 15:27] AllenBW commented on #1337
Great find @himdel!! reads like we need to put some d3 destroying demons in the timeline component `$onDestroy` 🤔

[2018-02-01 13:17] romanblanco opened #1377 "Action button placement in provision dialog"
**Description of problem:**

The position of _Add to shopping cart_ button ([details.html](https://github.com/ManageIQ/manageiq-ui-service/blob/master/client/app/states/catalogs/details/details.html#L32-L42)) in a provision dialog in SSUI seems wrong to me:

![screenshot-2018-2-1 manageiq service template details](https://user-images.githubusercontent.com/1187051/35680228-08cb01b2-075a-11e8-9c74-0

[2018-02-01 13:18] romanblanco commented on #1377
@serenamarie125 what do you think? Is this OK?

[2018-02-01 13:57] serenamarie125 commented on #1377
Given that this is embedded in a page, yes!

The buttons should be on the bottom left.  I'm assuming we should also have a cancel button?

If so, left most button should be "Add to Shopping Cart" followed by "Cancel"
I'd also assume that the Add to Shopping Cart button would be blue

Thoughts @romanblanco ?

[2018-02-13 14:48] romanblanco commented on #1377
@serenamarie125 Thank you for the answer!

There is a way to go back, but I agree having "Cancel" button would be better

It is at the moment the dialog is correctly filled.

[2018-02-13 15:24] romanblanco commented on #1377
@miq-bot assign @romanblanco

[2018-03-09 13:25] tjyang commented on #1377
Hi @romanblanco
Having user to scroll back just for submitting order is not convenient.
Got a chance to work on remaining  "Cancel" button ?

[2018-03-12 17:49] #1377 closed

[2018-03-14 14:44] tjyang opened #1400 "Need help on changing support_website and support_website_text string"
Description of problem:
I am able to change the logo to my custom image by following [skin-simple readme](https://github.com/ManageIQ/manageiq-ui-service/tree/master/skin-sample)

But I want o customize both support_website and support_website_text string also.

How reproducible:

Steps to Reproduce:
1. skin.js
 From peeking at https://github.com/ManageIQ/manageiq-ui-service/blob/master/client/app

[2018-03-14 15:40] tjyang opened #1401 "Site and About icon tooltip are not working on Gapri-1/2 instances"
Description of problem:
When a user move mouse over to shopping cart, we can see "Shopping cart" popup text.

How reproducible:
Move mouse cursor to About and Site icons.

Steps to Reproduce:
1. Login into UI/service MIQ instance.
2. Move mouse cursor to 3 and 4th icons(count from the left)
3. Site(3rd) an 4th(About) Icon doesn't show text.

Actual results:

The tooltip works for Shopping Cart ico

[2018-03-14 15:51] AllenBW commented on #1151
closes by https://github.com/ManageIQ/manageiq-ui-service/pull/1373

[2018-03-14 15:51] #1151 closed

[2018-03-14 16:05] tjyang opened #1402 "Is Sites icon configurable item ?"
Description of problem:

We have a need to not to show the icon back to classical UI from ui/service page.
Can this be a configurable item in a skin.js file ?

How reproducible:

login into ui/service we will see Sites icon by default

Steps to Reproduce when trying to remove the 3rd icon from source code :

1. Login into UI/service MIQ instance.
2.  Edit the natvigation-controller.js with followi

[2018-03-14 17:25] tjyang opened #1403 "Language pull down menu should be in Header ?"
Description of problem:

Current "Language" pull own is below "Password" row, It is creating in-convenience since the pull down menu only display 4 languages option at most.

How reproducible:
visit miq's ui/service link

Steps to Reproduce:
This is on Gapri-2
1. Click on "User Default" button to see the pull down list of Language choice
2.  We have to switch to use up down key in keyboard to navi

[2018-03-14 17:39] tjyang opened #1404 "non-admin user can't get to "VM Console""
Description of problem:

As non admin user, user should be able to get to noVNC webconsole of their running services(VM) like admin user login ui/service did.

Steps to Reproduce:
1.  login miq ui/service as regular user
2.  My Services -> [Select a running service with Green check mark.](https://user-images.githubusercontent.com/378638/37420015-cfc346a0-2783-11e8-84bb-7b639c70029d.png)
3. From Ac

[2018-03-14 19:41] tjyang opened #1405 "Wrong "Order" translation for Chinese."
Description of problem:

Wrong Chinese "Order" translation when it is a verb.

https://github.com/ManageIQ/manageiq-ui-service/blob/master/client/gettext/po/zh-Hans-CN/manageiq-ui-service.po#L719

How reproducible:

Switch to Chinese language on Windows 10.

Steps to Reproduce:
1. order in noun form is 订单
2. order in verb form is  订购

Actual results:

![image](https://user-images.githubusercontent

[2018-03-15 18:53] tjyang commented on #1400
@AllenBW
*  I change the text in appliance-info.service.spec.js

[code]
* The do "cd /opt/manageiq/manageiq-ui-service;yarn build"
*  The text in About icon still not changed.

[2018-03-15 20:46] AllenBW commented on #1400
anything `.spec.js` is a test file, sadly won't change anything 😭

I believe the setting you are looking for is in the ops-ui under `Configuration`

if yah scroll to the bottom yah should see something that looks like this:
<img width="777" alt="screen shot 2018-03-15 at 4 45 39 pm" src="https://user-images.githubusercontent.com/6640236/37490225-650650bc-2870-11e8-8761-9ef24956388e.png">

[2018-03-15 22:39] tjyang commented on #1400
@AllenBW

I located the "Custom Support URL" and make changes to it but it doesn't reflect to /ui/serivce GUI.
Do I need to restart evm or httpd ?

Also this doesn't make sense to me, since ui-classic and ui-service resides in different paths.

[2018-03-16 10:52] tjyang opened #1406 "Allow login landing page to set to "Service Catalog""
Description of problem:
Currently a user will see the landing page set to "Dashboard" after login.

How reproducible:
login ui/service URL.

Actual results:
landing page got direct to Dashboard.

Expected results:
See **Service Catalog**  page as  the 1st landing page after a user's login.
This should be a configurable item in skin.js ?

Additional info:

[2018-03-16 11:49] AllenBW commented on #1400
Yep!  SUI runs off the api served by the default server, which provides the support url and description (we get this info when yah log into the sui).  It isn't a skinable part. Ok ok so I directed you to the wrong custom support url.. ACTUALLY you to:

root region server -> help tab and you'll see something like this:
<img width="997" alt="screen shot 2018-03-16 at 7 43 55 am" src="https://user-im

[2018-03-16 11:56] AllenBW commented on #1405
closing as per conversation :point_right: [March 15, 2018 8:57 AM](https://gitter.im/ManageIQ/manageiq-ui-service?at=5aaa6dc9012ff2bf681d869c)

[2018-03-16 11:56] #1405 closed

[2018-03-16 14:30] tjyang commented on #1400
@AllenBW, I think this is a bug, IMHO.

To rule out complexity of multi appliances in same region, I did the test on another gapri-2 with all-in-one roles on same appliance called wk04.
All the settings to set support URL won't past on to ui/service node.js program.
* [Changes in classic ui Help Menu under configuration, region setting.](https://user-images.githubusercontent.com/378638/37525996-54

[2018-03-16 15:04] AllenBW commented on #1400
@tjyang sui displays what it is provided, this is a bug for elsewhere, but before submitting I would clear your browser session storage and maybe restart the server...

ss of the source info...
<img width="886" alt="screen shot 2018-03-16 at 11 03 40 am" src="https://user-images.githubusercontent.com/6640236/37527987-c7601d58-2909-11e8-83f0-95e1a53d4cd7.png">

[2018-03-16 16:49] tjyang commented on #1400
@AllenBW

This is what did from a fresh downloaded  Gapri-2 vmware image and also browse it from different computer.

* I did all the web page URL redirecting to https://www.cnn.com

* Classic-UI result

![image](https://user-images.githubusercontent.com/378638/37532950-8c002aaa-290e-11e8-8671-a0a899bba518.png)

* Service-UI result

![image](https://user-images.githubusercontent.com/378638/3753304

[2018-03-16 17:34] AllenBW commented on #1400
@tjyang again, not an SUI issue as it correctly displays what it is supplied.. would recommend submitting an issue against https://github.com/ManageIQ/manageiq-api

gonna close this for now, but please feel free to reference it in the future

[2018-03-16 17:34] #1400 closed

[2018-03-20 21:43] easyljy commented on #1404
add roles as below
![image](https://user-images.githubusercontent.com/10966153/37684353-c3c7d544-2c5d-11e8-95ad-6605abeee437.png)

[2018-04-05 14:50] himdel commented on #1403
Not on the login screen.

However, we can add `dropupAuto: true` so that the list expands upwards instead of down

[2018-04-05 14:53] himdel commented on #1402
[code]

So .. looks like simply removing the `suiAppLauncher` permission already accomplishes this.

`suiAppLauncher` is an alias for `RBAC.has(RBAC.FEATURES.CORE.APP_LAUNCHER)`,
which is a random constant for `"APP_LAUNCHER": "sui_app_launcher",`.

Thus, not giving the user a permission to `sui_app_launcher` should solve this.

(This should be Service UI > Core > Application Launcher in the UI.)

[2018-05-20 00:17] #964 closed

[2018-05-29 15:12] #1243 closed

[2018-07-16 13:53] himdel opened #1456 "Can't add filter under My Services"
Go to My Services,
enter a filter,
press enter.

Expected: the filter gets added

Actual:

[code]

Also, changing a filter type (Created, Name ,,. ) triggers a "Open xdg-open?" dialog, like it's trying to open a link of unknown type. (The actual link it tries to open is: `unsafe:javascript:void(0)`)

[2018-07-16 14:10] AllenBW commented on #1456
Confirmed, working this presently.

[2018-07-23 14:41] AllenBW commented on #1456
Ah yeah I see this when using Safari, `unsafe:javascript:void(0);` Looking into if this is a pfa thing or an us thing...

[2018-07-23 14:56] AllenBW commented on #1456
@himdel entered an issue in pfa (I might get started on it if no one else is around), you ok with closing this issue?

[2018-07-23 14:58] himdel commented on #1456
Perfect, thanks! :)

[2018-07-24 12:15] AllenBW opened #1463 "Migration requests are appearing in My Order of SSUI"
https://bugzilla.redhat.com/show_bug.cgi?id=1565049

Migration requests are showing in 'My Order' of SSUI, but the SUI doesn't have a means of filtering service orders by type yet, which is why the work described in this issue is dependent on https://github.com/ManageIQ/manageiq/issues/17752

https://github.com/ManageIQ/miq_v2v_ui_plugin/issues/341#issuecomment-405234756

🌮 🤗

[2018-10-15 10:50] #1402 closed

[2019-01-29 13:45] #1401 closed

[2019-01-29 13:45] #1403 closed

[2019-01-29 13:47] #1406 closed

[2019-01-29 13:47] #1404 closed

[2019-01-29 13:53] himdel commented on #1337
Still present,
@miq-bot remove_label stale

@AllenBW I could have sworn you had a PR out there, am I remembering wrong?

[2019-01-29 14:38] AllenBW commented on #1337
@himdel I took a look and don't believe such a pr was ever created 😢
<img width="1770" alt="screen shot 2019-01-29 at 9 36 32 am" src="https://user-images.githubusercontent.com/6640236/51915567-73c13d80-23a9-11e9-8790-95a25e319da4.png">

☝️  looks like it's still there, can't get to immediately but later in the week if you want

[2019-01-29 14:56] AllenBW opened #1520 "SUI to support support webmks"
Description of problem:
:point_up: [January 29, 2019 9:51 AM](https://gitter.im/ManageIQ/manageiq/providers?at=5c5068888aa5ca5abf4edda7)

https://bugzilla.redhat.com/show_bug.cgi?id=1532720

[2019-01-29 15:13] skateman commented on #1520
So as the WebMKS console isn't shipped OOTB and we cannot precompile assets on an already existing appliance, it cannot be included into the asset pipeline nor a webpack pack (sounds funny, you seriously say it like this?). So I think we could do the following:
[code]

[2019-01-29 15:39] himdel commented on #1520
I suppose so..., which implementation of `fetch`?

[2019-01-30 09:54] himdel commented on #1337
@AllenBW oh, it's ok, I'll take a look if you're busy :) Just wanted to make sure it's not lying somewhere, crying and forgotten :).

[2019-01-30 10:21] himdel commented on #1337
Confirming only the timeline component is problematic, no other d3 uses seem to cause this.

... aaaah.. `renderTimeline` gets called on resize,
and opening the notification area triggers a resize event,
and nobody stops the onresize handler when leaving timeline.

[2019-01-30 15:22] #1337 closed

[2019-02-05 18:36] ahrechushkin commented on #1520
Is there any new about this feature?

[2019-02-06 02:47] skateman commented on #1520
@AllenBW when will you have time to take a look? Do you have any questions about how and where to start?

[2019-02-11 12:12] AllenBW commented on #1520
Heyoh pto caused the delayed response, if time is available later this week I can begin to give this some 👀 in earnest! 🤞

[2019-02-26 13:59] ahrechushkin commented on #1520
up

[2019-02-26 14:24] skateman commented on #1520
@AllenBW ping?

[2019-02-26 14:33] AllenBW commented on #1520
Yah, haven't had the time. 😔

[2019-02-28 15:40] bekasovoleg opened #1527 "Direct link to service redirects to login page even if user authorized"
Description of problem:
Direct link to service redirects to login page even if user is authorized

How reproducible:

Steps to Reproduce:
1. Login to UI Service
2. Open new tab and go to ui/serivce/services/:id. We get login page instead of specified service page.

Actual results:
We get login page instead of specified service page.

Expected results:
Page with specified service (ui/serivce/servic

[2019-03-01 15:27] bekasovoleg commented on #1527
@chalettu looks like problem in code below
https://github.com/ManageIQ/manageiq-ui-service/blob/master/client/app/core/authorization.config.js#L66
`console.log(RBAC.all())` returns empty object